<mat-tab-group animationDuration="500ms" class="m-1" #tabGroup (selectedTabChange)="tabChanged($event)"style="overflow: hidden;">
  <mat-tab  aria-label="Tab7" style="overflow: hidden;">  
     <ng-template mat-tab-label style="overflow: hidden;">
    <div style="color: white;" style="overflow: hidden;">
      All User
    </div>
  </ng-template> 
  
  <!--all user start-->
  <div >
    <mat-spinner *ngIf="isLoading" class="global-loading-spinner" color="primary"
  mode="indeterminate" ></mat-spinner>
      <div class="adjust">
        <div class="example-table-container">
          <!-- Table Part-->
          <div class="table-box" style="margin-left: 10px;margin-right: 10px;background-color:#474668;">
          
            <div class="btn-group" class="headers"
              style="padding-left: 5px;padding-right: 5px; margin-top: 4px;height: 33px;">
              <div style="float: left;">
                <p style="color: aliceblue;font-size: 12px;margin-top: 2px;">User Profile Information</p>
              </div>
              <div style="float: right;">
              
                <input type="text" (keyup)="applyFilter(filterField.value)" #filterField placeholder="Search">
                
              </div>
            </div>
          </div>
         
          <div style="margin-left: 10px;margin-right: 10px;">
             
                  <button  mat-raised-button color="primary"
                  style="font-size: smaller;background-color: #22773e;;height: 25px;margin-left: 86%;width: max-content;" (click)="onOpenUserProfilePOPUP()">Add New Record</button>

                
              </div>
              <div class="tableOverFlowY">
          <div class="table-box" style="margin-left: 10px; margin-right: 10px;margin-top: 1px;">
    
            <mat-table [dataSource]="tableData" matTableExporter #exporter="matTableExporter"
              style="background-color: ghostwhite;" matSort id="dataTable">
              <!-- Position Column -->
              
              <!-- Action Column -->
              <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef>Selection </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <mat-radio-button
                  (click)="$event.stopPropagation()"
                  (change)="$event ? selection.toggle(row):null"
                  [checked]="selection.isSelected(row)"
                  (keyup.enter)="handleKeyPress('view')"
                   class="smallRadio"></mat-radio-button>
                   <!-- <mat-radio-button (click)="OnSelectRow(row)"></mat-radio-button> -->
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="userId">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>User Id</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.userId}} </mat-cell>
                </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="employeeId">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Employee Id </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.employeeId}} </mat-cell>
              </ng-container>
    
              <ng-container matColumnDef="firstName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.firstName}} </mat-cell>
              </ng-container>
    
              <!-- Symbol Column -->
              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{checkStatus(row.status)}}</mat-cell>
              </ng-container>
    
              <!-- Symbol Column -->
              <ng-container matColumnDef="version">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Modification </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.version}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="createdDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.createdDate}} </mat-cell>
              </ng-container>
    
    
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
    
            <mat-paginator [pageSizeOptions]="[10, 15, 20,25]" (page)="pageChanged($event)" showFirstLastButtons aria-label="Select page of periodic rows">
            </mat-paginator>
            <!-- <button mat-raised-button color="primary" 
              style="background-color: #295ea3;font-size: smaller;height: 25px;"(click)="onSelectRow('view')">Update</button> -->
              <button mat-raised-button color="primary" 
              style="background-color: #295ea3;font-size: smaller;height: 25px;"(click)="onReviewUserData()">Audit trial</button>
          </div>
        </div>
        </div>
        <div class="filter" style="padding-left: 1rem;padding-right: 1rem; margin-top: 4px;">
          <div class="filter-box">
            <!-- Filter part-->
            <div class="headers" style="height: 30px;">Data Filter</div>
            <div style="background-color: ghostwhite;">
              <span *ngIf= "this.filterFieldError" class="errorMsg">Please select filter field </span>
              <span *ngIf= "this.filterValueError" class="errorMsg">Please enter filter field value</span>
              <select style="font-size: 0.95em; width: 100%;margin-top: 5px;" [(ngModel)]="filterObject.field" (change)="onChangeSelctedField()">
                <option value="SELECT">Please select field</option>
                <option value="userId">User Id</option>
                <option value="employeeId">Employee Id</option>
                <option value="firstName">Employee Name</option>
                <option value="status">Status</option>
                <option value="version">Modification No.</option>
                <option value="createdDate"> Created Date</option>
              </select>
              <div *ngIf="(this.filterObject.field != 'createdDate')">
              <select style="font-size: 0.95em; width: 100%;margin-top: 5px;" [(ngModel)]="filterObject.condition">
                <option value="SELECT">Please select condition</option>
                <option value="equals">Equals</option>
                <option value="contains">Contains</option>
              </select>
            </div>
            <div *ngIf="(this.filterObject.field == 'createdDate')">
              <select style="font-size: 0.95em; width: 100%;margin-top: 5px;" [(ngModel)]="filterObject.condition">
              
                <option value="between" selected>Between</option>
              </select>
            </div>
              <div *ngIf="(this.filterObject.field == 'createdDate')">
                <div class="supplier-content">
                 <div class="sup-head">
                   <div class="sup-fields"> From:-</div>
                   <div class="sup-values">  <input type="date" [(ngModel)]="filterObject.DateFieldvalue1"></div>
               </div>
               </div>
             </div>
               <div *ngIf="(this.filterObject.field == 'createdDate')"style="font-size: 0.95em; width: 100%;margin-top: 5px;">
                 <div class="supplier-content">
                   <div class="sup-head">
                     <div class="sup-fields"> To:-</div>
                     <div class="sup-values">  <input type="date" [(ngModel)]="filterObject.DateFieldvalue2"></div>
                 </div>
                 </div>
             </div>
             <div *ngIf="(this.filterObject.field != 'createdDate')">
              <input style="margin-top: 5px;width: 100%;" type="txt" name="value" placeholder="Enter Value"
                [(ngModel)]="filterObject.value">
                </div>
              <!-- </div> -->
              <div class="example-button-row" style="text-align: center;padding-top: 12px;">
                <button mat-raised-button color="primary" style="font-size: smaller;background-color: #295ea3;height: 25px;"
                (click)="applyFilterByColumn()">Apply</button>
              <button mat-raised-button color="primary"
                style="font-size: smaller;background-color: #295ea3;height: 25px;" (click)="onClearFilter()">Clear</button>
              </div>
            
            </div>
          </div>
          <div class="filter-box">
            <!-- Filter part-->
            <div class="headers" style="height: 30px;">Export</div>
            <div style="background-color: ghostwhite;">
              <div style="font-size: 10px; font-weight:bold;">Export data list to following format:</div>
              <div style="text-align: center;">
                
                <button *ngIf="this.tableDataLoaded" [cdkCopyToClipboard]="copyData()" class="exportIconBtn"><img class="exportIcon" src="../../../assets/copy.png"></button>
  
                    <button (click)="downloadTxt()" class="exportIconBtn"><img class="exportIcon"
                      src="../../../assets/txt.png"></button>
                <button (click)="downloadCsvFile()" class="exportIconBtn"><img class="exportIcon"
                    src="../../../assets/csv.png"></button>
                <button (click)="downloadPdf()" class="exportIconBtn"><img style="height: 15px;width: 15px;" src="../../../assets/pdf.png"></button>
   
                    <button (click)="downloadExcel()" class="exportIconBtn"> <img class="exportIcon"
                      src="../../../assets/excel.png"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- active user end-->
</mat-tab>
  <mat-tab  aria-label="Tab6"> 
     <ng-template mat-tab-label>
    <div style="color: white;">
      Active User
    </div>
  </ng-template> 
  <div>
    <mat-spinner *ngIf="isLoading" class="global-loading-spinner" color="primary"
  mode="indeterminate" ></mat-spinner>
      <div class="adjust">
        <div class="example-table-container">
          <!-- Table Part-->
          <div class="table-box" style="margin-left: 10px;margin-right: 10px;background-color:#474668;">
          
            <div class="btn-group" class="headers"
              style="padding-left: 5px;padding-right: 5px; margin-top: 4px;height: 33px;">
              <div style="float: left;">
                <p style="color: aliceblue;font-size: 12px;margin-top: 2px;">User Profile Information</p>
              </div>
              <div style="float: right;">
              
                <input type="text" (keyup)="activeUserApplyFilter(activeUserfilterField.value)" #activeUserfilterField placeholder="Search">
                
              </div>
            </div>
          </div>
         
          <div style="margin-left: 10px;margin-right: 10px;">
             
                  <button  mat-raised-button color="primary"
                  style="font-size: smaller;background-color: #22773e;;height: 25px;margin-left: 86%;width: max-content;" (click)="onOpenUserProfilePOPUP()">Add New Record</button>
                
              </div>
              <div class="tableOverFlowY">
          <div class="table-box" style="margin-left: 10px; margin-right: 10px;margin-top: 1px;">
    
            <mat-table [dataSource]="activeUsertableData"
              style="background-color: ghostwhite;"  matSort id="activeUserDataTable">
              <!-- Position Column -->
              
              <!-- Action Column -->
              <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef>Selection </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <mat-radio-button
                  (click)="$event.stopPropagation()"
                  (change)="$event ? selection.toggle(row):null"
                  [checked]="selection.isSelected(row)"
                  (keyup.enter)="handleKeyPress('view')"
                   class="smallRadio"></mat-radio-button>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="userId">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>User Id</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.userId}} </mat-cell>
                </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="employeeId">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Employee Id </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.employeeId}} </mat-cell>
              </ng-container>
    
              <ng-container matColumnDef="firstName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.firstName}} </mat-cell>
              </ng-container>
    
              <!-- Symbol Column -->
              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{checkStatus(row.status)}}</mat-cell>
              </ng-container>
    
              <!-- Symbol Column -->
              <ng-container matColumnDef="version">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Modification </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.version}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="createdDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.createdDate}} </mat-cell>
              </ng-container>
    
    
              <mat-header-row *matHeaderRowDef="ActiveUserdisplayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: ActiveUserdisplayedColumns;"></mat-row>
            </mat-table>
    
            <mat-paginator [pageSizeOptions]="[10, 15, 20,25]"  (page)="activeUSerPageChanged($event)" showFirstLastButtons aria-label="Select page of periodic rows">
            </mat-paginator>
      
            <button mat-raised-button color="primary" 
              style="background-color: #295ea3;font-size: smaller;height: 25px;"(click)="onActiveUserSelectRow('view')">Update</button>
              <button mat-raised-button color="primary" 
              style="background-color: #295ea3;font-size: smaller;height: 25px;"(click)="onActiveUserReviewUserData()">Audit trial</button>
          </div>
        </div>
        </div>
        <div class="filter" style="padding-left: 1rem;padding-right: 1rem; margin-top: 4px;">
          <div class="filter-box">
            <!-- Filter part-->
            <div class="headers" style="height: 30px;">Data Filter</div>
            <div style="background-color: ghostwhite;">
              <span *ngIf= "this.activeUserFilterFieldError" class="errorMsg">Please select filter field </span>
              <span *ngIf= "this.activeUserFilterValueError" class="errorMsg">Please enter filter field value</span>
              <select style="font-size: 0.95em; width: 100%;margin-top: 5px;" [(ngModel)]="activeUserFilterObject.field"(change)="onChangeActiveSelctedField()">
                <option value="SELECT">Please select field</option>
                <option value="userId">User Id</option>
                <option value="employeeId">Employee Id</option>
                <option value="firstName">Employee Name</option>
                <option value="status">Status</option>
                <option value="version">Modification No.</option>
                <option value="createdDate"> Created Date</option>
              </select>
              <div *ngIf="(this.activeUserFilterObject.field != 'createdDate')">
               <select style="font-size: 0.95em; width: 100%;margin-top: 5px;" [(ngModel)]="activeUserFilterObject.condition">
            <option value="SELECT">Please select condition</option>
            <option value="equals">Equals</option>
            <option value="contains">Contains</option>
          </select>
        </div>
        <div *ngIf="(this.activeUserFilterObject.field == 'createdDate')">
          <select style="font-size: 0.95em; width: 100%;margin-top: 5px;" [(ngModel)]="activeUserFilterObject.condition">
            <option value="between">Between</option>
          </select>
        </div>
              <div *ngIf="(this.activeUserFilterObject.field == 'createdDate')">
               <div class="supplier-content">
                <div class="sup-head">
                  <div class="sup-fields"> From:-</div>
                  <div class="sup-values">  <input type="date" [(ngModel)]="activeUserFilterObject.DateFieldvalue1"></div>
              </div>
              </div>
            </div>
              <div *ngIf="(this.activeUserFilterObject.field == 'createdDate')"style="font-size: 0.95em; width: 100%;margin-top: 5px;">
                <div class="supplier-content">
                  <div class="sup-head">
                    <div class="sup-fields"> To:-</div>
                    <div class="sup-values">  <input type="date" [(ngModel)]="activeUserFilterObject.DateFieldvalue2"></div>
                </div>
                </div>
            </div>
              <div *ngIf="(this.activeUserFilterObject.field != 'createdDate')">
                <input style="margin-top: 5px;width: 100%;" type="txt" name="value" placeholder="Enter Value"
                [(ngModel)]="activeUserFilterObject.value">
              </div>
             
              <!-- </div> -->
              <div class="example-button-row" style="text-align: center;padding-top: 12px;">
                <button mat-raised-button color="primary" style="font-size: smaller;background-color: #295ea3;height: 25px;"
                (click)="applyActiveUserFilterByColumn()">Apply</button>
              <button mat-raised-button color="primary"
                style="font-size: smaller;background-color: #295ea3;height: 25px;" (click)="onAcctiveUserClearFilter()">Clear</button>
              </div>
            
            </div>
          </div>
          <div class="filter-box">
            <!-- Filter part-->
            <div class="headers" style="height: 30px;">Export</div>
            <div style="background-color: ghostwhite;">
              <div style="font-size: 10px; font-weight:bold;">Export data list to following format:</div>
              <div style="text-align: center;">
               
                <button *ngIf="this.activeUserTableLoded" [cdkCopyToClipboard]="activeUserCopyData()" class="exportIconBtn"><img class="exportIcon" src="../../../assets/copy.png"></button>
       
                    <button (click)="activeUserDownloadTxt()" class="exportIconBtn"><img class="exportIcon"
                      src="../../../assets/txt.png"></button>
                <button (click)="activeUserDownloadCsvFile()" class="exportIconBtn"><img class="exportIcon"
                    src="../../../assets/csv.png"></button>
                <button (click)="activeUserDownloadPdf()" class="exportIconBtn"><img style="height: 15px;width: 15px;" src="../../../assets/pdf.png"></button>
          
                    <button (click)="activeUserDownloadExcel()" class="exportIconBtn"> <img class="exportIcon"
                      src="../../../assets/excel.png"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</mat-tab>
<!-- <mat-tab  aria-label="Tab4"> 
  <ng-template mat-tab-label>
 <div style="color: white;">
   User Dashboard
 </div>
</ng-template> 
</mat-tab> -->
</mat-tab-group>


  <!-- <button (click)="onReview()">Review</button> -->
  <div style="height: 100px;"></div>