<div class="container-fluid">
    <div class="row no-gutters dialogHeaderColor" >
        <div class="col-10 d-flex justify-content-start">
            <h1 class="customeHeading">{{this.userData.type}} Tax</h1>
        </div>
        <div class="col-2 d-flex justify-content-end">
            <button mat-icon-button class="close-button" [mat-dialog-close]="true">
                <mat-icon class="close-icon" color="warn">close</mat-icon>
            </button>
        </div>
    </div>
    <div class="tabOverFlowY">
        <mat-spinner *ngIf="isLoading" class="global-loading-spinner" color="primary" mode="indeterminate" ></mat-spinner>

        <form [formGroup]="DepartmentMaster" style="margin-top: 7px;">
            <mat-card style="margin-top: 2px;background-color:#fdfdfd;">
                <div class="btn-group" class="headers"
                    style="padding-left: 5px;padding-right: 5px; margin: 4px;height: 33px;">
                    <div style="float: left;">
                        <p style="color: aliceblue;font-size: 12px;margin-top: 2px;">Tax Registration</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="p-2">
                            <div class="row no-gutters mt-1 pb-2 ms-1 me-1">
                                <span style="padding-left: 4px;color: mediumblue;font-size: 12px;">Required Fields are
                                    denoted by an asterisk(<span style="color: red">*</span>).</span>
                            </div>
                            <div class="row no-gutters ms-1 me-1 dense-4">
                                <mat-form-field appearance="outline" class="col-3 px-1">
                                    <mat-label>Tax Code</mat-label>
                                    <input type="text" matInput formControlName="uc0001"[readonly]="isUpdate" [class.isReadonlyField]="isUpdate"
                                        placeholder="Tax Code" >
                                      
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="col-9 px-1">
                                    <mat-label>Tax Name</mat-label>
                                    <input type="text" matInput formControlName="ff0001"
                                        placeholder="Tax Name" >
                                </mat-form-field>  
                                </div>
                                <div class="row no-gutters ms-1 me-1 dense-4">
                               
                                    <mat-form-field appearance="outline" class="col-12 px-1">
                                        <mat-label>Business Unit Code</mat-label>
                                        <input type="text" matInput formControlName="ff0002"(change)="onChangePlantCode()"
                                            placeholder="Business Unit Code" >
                                             <img  alt="lov img"  src="../../../../../../assets/searchfind.svg"
                                        class="icon-size lovSearchButton" color="primary"(click)="openBusinessUnitCodeLOV()"> 
                                    </mat-form-field>
                                </div>
                                <div class="row no-gutters ms-1 me-1 dense-4" *ngIf="isUpdate">
                                    <mat-form-field appearance="outline" class="col-12 px-1" >
                                        <mat-label>Status</mat-label>
                                        <input type="text" matInput formControlName="status" 
                                            placeholder="Status" (change)="onChangeStatus()" >
                                            <img alt="lov img"  src="../../../../../../assets/searchfind.svg"
                                            class="icon-size lovSearchButton" color="primary"(click)="openStatusLOV()">
                                    </mat-form-field> 
                                    </div>
                         
                          
                        
                           
                        </div>
                    </div>
                </div>
            </mat-card>
            <mat-card style="margin-top: 2px;background-color:#fdfdfd;">
                <div class="btn-group" class="headers"
                style="padding-left: 5px;padding-right: 5px; margin: 4px;height: 33px;">
                <div style="float: left;">
                    <p style="color: aliceblue;font-size: 12px;margin-top: 2px;">Comments</p>
                </div>
            </div>


            <div>
                <div class="col-12">
                    <div class="p-2">
                        <div class="row no-gutters ms-1 me-1" >
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>Comments</mat-label>
                                <textarea type="text" matInput formControlName="comments"
                                    placeholder="Comments">
                                </textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
                </mat-card>
        </form>
       
</div>
    </div>
    <div class="containerBTN" style="margin-top: 26px; margin-bottom: 1px;">
        <div  class="d-flex justify-content-center">

        <button mat-raised-button color="primary" style="font-size: smaller;background-color: #295ea3;height: 25px;"
          (click)="isUpdate ? onUpdate() : onCreate()" [class.isDisabledBtn]="DepartmentMaster.invalid">{{isUpdate ? "Update" : "Create"}}</button>
         <button mat-raised-button color="primary"*ngIf="!isUpdate"
          style="font-size: smaller;background-color: #295ea3;height: 25px; margin-left: 5px;"(click)="onClear()">Clear</button>
      </div>
</div>