<div class="container-fluid">
    <div class="row no-gutters"style="background-color: #18155b;;">
        <div class="col-10 d-flex justify-content-start">
            <h1 class="customeHeading">Stock List</h1>
        </div>
        <div class="col-2 d-flex justify-content-end">
       
            <button mat-icon-button class="close-button" [mat-dialog-close]="true">
                <mat-icon class="close-icon" color="warn">close</mat-icon>
              </button>
        </div>
        </div>
   <div class="action-toolbar" *ngIf="this.datalength>0">
    <div class="table-filter action-toolbar-right">
        <input type="text" (keyup)="applyFilter(searchField.value)" #searchField placeholder="Table Keyword search">
    </div>
   </div>    
<div class="tabOverFlowY">
    <div class="table-box" style="margin-left: 10px; margin-right: 10px;margin-top: 1px;">        
        <mat-card style="margin-top: 2px;background-color: #fdfdfd;" [hidden]="this.datalength==0">
            <mat-table [dataSource]="tableData" matTableExporter #exporter="matTableExporter"
            style="background-color: ghostwhite;" matSort id="activeUserDataTable">
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event?masterToggle():null" [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event?selection.toggle(row):null"
                        [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="aUC0001">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Price Code</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.aUC0001}} </mat-cell>
              </ng-container>
         
            <ng-container matColumnDef="aFF0001">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Product No </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.aFF0001}} </mat-cell>
              </ng-container>

            <ng-container matColumnDef="aFF0002">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Product Code </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.aFF0002}}</mat-cell>
            </ng-container>
        
              <ng-container matColumnDef="aFF0003">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Product Name </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.aFF0003}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="aFF0008">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Rate </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.aFF0008}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="aFF0009">
                <mat-header-cell *matHeaderCellDef mat-sort-header>GST % </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.aFF0009}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="aFF0010">
                <mat-header-cell *matHeaderCellDef mat-sort-header>HSN Code</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.aFF0010}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="aFF0011">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Product Discout % </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.aFF0011}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="aFF0012">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Price Type </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.aFF0012}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="aFF0013">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Pack </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.aFF0013}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="bFF0010">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Avialble Quantity </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.bFF0010}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="bFF0011">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Lot No/ Batch No</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.bFF0011}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="bFF0012">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Mfg Date (mm/yy)</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.bFF0012}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="bFF0013">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Exp Date  (mm/yy)</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.bFF0013}}</mat-cell>
              </ng-container>
            
            <mat-header-row *matHeaderRowDef="activeLifeCycleisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: activeLifeCycleisplayedColumns;" ></mat-row>
          </mat-table> 
   
          <mat-paginator [pageSizeOptions]="[5,10, 15, 20,25]"  showFirstLastButtons aria-label="Select page of periodic rows">
          </mat-paginator>

           <button mat-raised-button color="primary"  style="font-size: smaller;background-color: #295ea3;height: 25px; width: fit-content;" (click)="onSelectedRow()" >Submit</button>
        </mat-card>
        <div *ngIf="datalength==0">
            <span style="color: red;font-weight: 700;">No Record Found</span>
        </div>
        <mat-spinner *ngIf="isLoading" class="global-loading-spinner" color="primary" mode="indeterminate" ></mat-spinner>
</div>
    </div>
    </div>
    