// .footer{
//     background-color: #57a7e3;
// }
.container {
    min-height: calc(100vh - 70px);
}

.footer {
    //background-color: #57a7e3;
    background-color: #04355a;
    height: 25px;
}


footer {
    background: #42A5F5;
    color: white;
    line-height: 50px;
    padding: 0 20px;
}