
<div class="adjust" style="margin-top: 5px;margin-left: 5px;">
<mat-grid-list cols="4" rowHeight="3:1">
    <mat-grid-tile >
        <button mat-raised-button color="primary" style="height: 100%;width: 100%;"(click)="onUserProfileRegistration()">User Profile Registration</button>
        <!-- <a (click)="onUserProfileRegistration()" style="cursor: pointer;
        font-weight: 700;
        color: floralwhite;">
       <span> User Profile Registration</span>
    </a> -->
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button color="primary" style="height: 100%;width: 100%;"(click)="onLifeCycle()">Life Cycle Registration</button>
        
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button color="primary" style="height: 100%;width: 100%;"(click)="onBusinessUnit()">Business Unit</button>
      
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="primary" style="height: 100%;width: 100%;"(click)="onRoleMaster()">Role</button>
    
</mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="4" rowHeight="3:1" style="margin-top: 3px;">
    <mat-grid-tile>
        <button mat-raised-button color="primary" style="height: 100%;width: 100%;"(click)="onDepartmentMaster()">Department</button>
        
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button color="primary" style="height: 100%;width: 100%;"(click)="onModuleMaster()">Module</button>
      
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="primary" style="height: 100%;width: 100%;"(click)="onDesignation()">Designation</button>
    
</mat-grid-tile>
<mat-grid-tile>
  <button mat-raised-button color="primary" style="height: 100%;width: 100%;"(click)="onStandardReason()">Standard Reason Registartion</button>
  
</mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="4" rowHeight="3:1" style="margin-top: 3px;">
    <mat-grid-tile>
        <button mat-raised-button color="primary" style="height: 100%;width: 100%;"(click)="onSubDepartmentMaster()">Sub Department</button>   
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button color="primary" style="height: 100%;width: 100%;"(click)="onMaterialType()">Material Type</button>   
  </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button color="primary" style="height: 100%;width: 100%;"(click)="onMaterialSubType()">Material Sub-Type</button>   
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="primary" style="height: 100%;width: 100%;"(click)="onUTMaster()">Unit</button>   
</mat-grid-tile>

    </mat-grid-list>
    <mat-grid-list cols="4" rowHeight="3:1" style="margin-top: 3px;">
      <mat-grid-tile>
        <button mat-raised-button color="primary" style="height: 100%;width: 100%;"(click)="onPackMaster()">Pack Master</button>   
      </mat-grid-tile>
      <mat-grid-tile>
          <button mat-raised-button color="primary" style="height: 100%;width: 100%;"(click)="onTaxMasterMaster()">Tax Master</button>   
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button color="primary" style="height: 100%;width: 100%;"(click)="onOrganization()">Organization</button>   
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button color="primary" style="height: 100%;width: 100%;"(click)="onBusinessUnitType()">Business Unit Type</button>   
  </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list cols="4" rowHeight="3:1" style="margin-top: 3px;">
        <mat-grid-tile>
            <button mat-raised-button color="primary" style="height: 100%;width: 100%;"(click)="onSecurityProfile()">Security Profile Settings</button>   
        </mat-grid-tile>
        </mat-grid-list>
</div>