<div class="adjust">
    <div class="example-table-container">
        <app-rqp-header [pageData]="this.pageData" (headerData)="getHeaderData($event)"></app-rqp-header>
        <!--review comments table-->
        <div>

            <mat-card style="margin-top: 2px;background-color:#fdfdfd;">
                <div class="btn-group" class="headers"
                    style="padding-left: 5px;padding-right: 5px; margin: 4px;height: 33px;">
                    <div style="float: left;">
                        <p style="color: aliceblue;font-size: 12px;margin-top: 2px;">
                            Quotation Information</p>
                    </div>
                </div>
            </mat-card>
            <form [formGroup]="ViewDetailForm">
                <div class="row no-gutters ms-1 me-1 dense-4" style="margin-top: 5px;">
                    <mat-form-field appearance="outline" class="col-12 px-1">
                        <mat-label>Quotation No.</mat-label>
                        <input type="text" matInput placeholder="Quotation No." formControlName="quotationNo"
                            [readonly]="isReadonly" [class.isReadonlyFieldForQuotation]="isReadonly">
                    </mat-form-field>
                </div>
            </form>
            <div class="adjust">
                <div class="unit-code-container">
                    <div class="unit-code-box">
                        <form [formGroup]="ViewDetailForm">
                            <div class="row no-gutters ms-1 me-1 dense-4" style="margin-top: 5px;">

                                <mat-form-field appearance="outline" class="col-12 px-1">
                                    <mat-label>Organization Unit Code</mat-label>
                                    <input type="text" matInput placeholder="Oarganization Unit Code"
                                        formControlName="orgUnitCode" [readonly]="isReadonly"
                                        [class.isReadonlyFieldForQuotation]="isReadonly">
                                </mat-form-field>
                            </div>
                        </form>
                        <div class="supplier-content-code" *ngIf="this.unitCodeData">
                            <div class="sup-head-code" style="background-color: #bcceea;">
                                <div class="sup-fields-code" style="padding: 4px;font-weight: 700;">Address of
                                    organization unit</div>
                                <div class="sup-values-code" style="padding: 4px;">{{unitCodeData[0].ff0003}},
                                    {{unitCodeData[0].ff0004}},
                                    {{unitCodeData[0].ff0005}},{{unitCodeData[0].ff0007}},{{unitCodeData[0].ff0007}},<br>
                                    <span style="font-weight: 700;">Pincode:</span> {{unitCodeData[0].ff0008}},<span
                                        style="font-weight: 700;"> Mobile: </span>{{unitCodeData[0].ff0009}}<br><span
                                        style="font-weight: 700;">Email: </span>{{unitCodeData[0].ff0010}},
                                    <br><span style="font-weight: 700;">PAN: </span>{{unitCodeData[0].ff0011}},
                                    <span style="font-weight: 700;">GST: </span>{{unitCodeData[0].ff0012}}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="sales-code-container">
                    <div class="unit-code-box">
                        <form [formGroup]="ViewDetailForm">
                            <div class="row no-gutters ms-1 me-1 dense-4" style="margin-top: 10px;">

                                <mat-form-field appearance="outline" class="col-12 px-1">
                                    <mat-label>Sale Unit Code</mat-label>
                                    <input type="text" matInput placeholder="Sale Unit Code"
                                        formControlName="salesUnitCode" [readonly]="isReadonly"
                                        [class.isReadonlyFieldForQuotation]="isReadonly">
                                </mat-form-field>
                            </div>
                        </form>
                        <div class="supplier-content-code" *ngIf="unitCodeData">
                            <div class="sup-head-code" style="background-color: #bcceea;">
                                <div class="sup-fields-code" style="padding: 4px;font-weight: 700;">Address of sales
                                    unit</div>
                                <div class="sup-values-code" style="padding: 4px;">{{unitCodeData[1].ff0003}},
                                    {{unitCodeData[1].ff0004}},
                                    {{unitCodeData[1].ff0005}},{{unitCodeData[1].ff0007}},{{unitCodeData[1].ff0007}},<br>
                                    <span style="font-weight: 700;">Pincode:</span> {{unitCodeData[1].ff0008}},<span
                                        style="font-weight: 700;"> Mobile: </span>{{unitCodeData[1].ff0009}}<br><span
                                        style="font-weight: 700;">Email: </span>{{unitCodeData[1].ff0010}},
                                    <br><span style="font-weight: 700;">PAN: </span>{{unitCodeData[1].ff0011}},
                                    <span style="font-weight: 700;">GST: </span>{{unitCodeData[1].ff0012}}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--item list start-->
            <div>
                <mat-table [dataSource]="qtItemListdataSource" id="datTable" matTableExporter
                    #exporter="matTableExporter" matSort style="background-color: ghostwhite;">
                    <ng-container matColumnDef="ff0005">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Product Code</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.ff0005}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="ff0006">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.ff0006}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="ff0018">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Product No</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.ff0018}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="ff0007">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.ff0007}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="ff0009">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>HSN Code</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.ff0009}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="ff0010">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Rate</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.ff0010}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="ff0011">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>% Discount</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.ff0011}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="ff0012">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Discount Amount</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.ff0012}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="ff0019">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Total Discount</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.ff0019}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="ff0013">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>After Discount Rate</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.ff0013}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="ff0015">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>%GST</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.ff0015}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="ff0016">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>GST Amount</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.ff0016}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="ff0017">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Amount</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.ff0017}} </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="qtListDisplayColumn"></mat-header-row>
                    <mat-row *matRowDef="let row; columns:qtListDisplayColumn"></mat-row>
                </mat-table>
            </div>
            <!--Item list End-->
            <div style="padding-right: 15px;padding-left: 15px;">

                <mat-card style="margin-top: 2px;background-color:#dfece0;" *ngIf="indexList">
                    <div class="supplier-content">
                        <div class="sup-head" style="background-color: #bcceea;">
                            <div class="sup-fields">Total Discount : </div>
                            <div class="sup-values">{{indexList.ff0007 }}</div>
                        </div>
                        <div class="sup-head" style="background-color: #bcceea;">
                            <div class="sup-fields">After Discount Sub Total Amount : </div>
                            <div class="sup-values">{{indexList.ff0006 | number:'1.2-2'}}</div>
                        </div>

                        <div class="sup-head">
                            <div class="sup-fields">SGST : </div>
                            <div class="sup-values">{{indexList.ff0009 | number:'1.2-2'}}</div>
                        </div>
                        <div class="sup-head">
                            <div class="sup-fields">CGST </div>
                            <div class="sup-values">{{indexList.ff0010 | number:'1.2-2'}}</div>
                        </div>
                        <div class="sup-head" style="background-color: #bcceea;">
                            <div class="sup-fields">IGST</div>
                            <div class="sup-values">{{indexList.ff0011 | number:'1.2-2'}}</div>
                        </div>
                        <div class="sup-head" style="background-color: #bcceea;">
                            <div class="sup-fields">Total GST Amount </div>
                            <div class="sup-values">{{indexList.ff0011 | number:'1.2-2'}}</div>
                        </div>
                        <div class="sup-head">
                            <div class="sup-fields">Total Amount : </div>
                            <div class="sup-values">{{indexList.ff0013 | number:'1.2-2'}}</div>
                        </div>
                    </div>
                </mat-card>
            </div>

            <app-as-common-footer [pageData]="this.pageData" (comments)="getCommentsData($event)">
                <div class="table-box" style="margin-left: 10px;margin-right: 10px;margin-top: 4px;">
                    <mat-table [dataSource]="dataSource" id="datTable" matTableExporter #exporter="matTableExporter"
                        matSort style="background-color: ghostwhite;">
                        <ng-container matColumnDef="createdby">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>User Id</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.createdby}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="ff0003">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Role Name</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.ff0003}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="ff0005">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Comments Version</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{onRequestVersion(row)}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="comments">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Comments</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.comments}} </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="resviewCommentsDisplayColumn"></mat-header-row>
                        <mat-row *matRowDef="let row; columns:resviewCommentsDisplayColumn"></mat-row>
                    </mat-table>
                </div>
            </app-as-common-footer>
            <form [formGroup]="FooterForm">
                <div class="row no-gutters ms-1 me-1 dense-4">
                    <mat-form-field appearance="outline" class="col-4 px-1">
                        <mat-label>Next stage</mat-label>
                        <input type="text" matInput formControlName="nextStage" placeholder="Next Stage">
                        <img alt="lov img" src="../../../../../../assets/searchfind.svg"
                            class="icon-size lovSearchButton" color="primary" (click)="openNextStageLov()">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-4 px-1">
                        <mat-label>Previous stage</mat-label>
                        <input type="text" matInput formControlName="previousStage" placeholder="Previous Stage">
                        <img alt="lov img" src="../../../../../../assets/searchfind.svg"
                            class="icon-size lovSearchButton" color="primary" (click)="openPreviousStageLov()">
                    </mat-form-field>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="containerBTN" style="margin-top: 2px; margin-bottom: 5px;">
    <div class="d-flex justify-content-center">
        <button mat-raised-button color="primary" style="font-size: smaller;background-color: #295ea3;height: 25px;"
            (click)="onSubmit()">Submit</button>
        <button mat-raised-button color="primary"
            style="font-size: smaller;background-color: #295ea3;height: 25px; margin-left: 5px;"
            (click)="onReject()">Reject</button>
    </div>
</div>
<div style="min-height: 10px;"></div>