
<div class="row no-gutters">
    <div class="col-8 d-flex justify-content-start">
        <h1 class="customeHeading">Review Comments History</h1>
    </div>
    <div class="col-4 d-flex justify-content-end">
        <button mat-icon-button  (click)="openPDF()">
            <mat-icon class="close-icon" color="primary">download</mat-icon>
          </button>
          <button mat-icon-button [mat-dialog-close]="true"  >
            <mat-icon class="close-icon" color="warn">close</mat-icon>
          </button>
    </div>
    <!-- <div class="col-2 d-flex justify-content-end">
        
    </div> -->

    </div>
<div class="table-box" id="htmlData"style="padding: 25px;background: #edf0f8;" *ngIf="this.data" >
    <div style="margin-top: 10px;">
<div class="sup-head1"style="margin-top: 10px;">
  <div class="logo2">
      <span style="    float: left;
      font-size: 18px;
      font-family: auto;">
        <h2 style="    font-weight: 800;
        font-family: none;
        color: #040496;
    ">  Business Unit Information</h2>
       </span>
      <span style="float: right;">
        <img src="../../../assets/logo1.png">
      </span>
      </div>
</div>
<!-- <div class="headers">Business Unit Information</div> -->
<div  class="headers"
style="padding-left: 5px;padding-right: 5px; margin: 4px;height: 33px;">

    <p style="color: aliceblue;font-size: 12px;margin-top: 2px;">Business Unit Information</p>

</div>
<div class="supplier-content">
 <div class="sup-head">
   <div class="sup-fields">Modification No.</div>
   <div class="sup-values">{{this.data.version}}</div>
 </div>
 <div class="sup-head">
   <div class="sup-fields">Status</div>
   <div class="sup-values">{{this.data.status}}</div>
 </div>
 <div class="sup-head"style="background-color: #bcceea;">
  <div class="sup-fields">Business Organization name</div>
  <div class="sup-values">{{this.data.status}}</div>
</div>
<div class="sup-head" style="background-color: #bcceea;">
  <div class="sup-fields">Business Organization code</div>
  <div class="sup-values">{{this.data.status}}</div>
 </div> 

 <div class="sup-head">
  <div class="sup-fields">Business unit name</div>
  <div class="sup-values">{{this.data.status}}</div>
</div>
<div class="sup-head">
  <div class="sup-fields">Business unit code</div>
  <div class="sup-values">{{this.data.status}}</div>
</div>
<div class="sup-head"style="background-color: #bcceea">
 <div class="sup-fields">Street-1</div>
 <div class="sup-values">{{this.data.status}}</div>
</div>
<div class="sup-head" style="background-color: #bcceea">
 <div class="sup-fields">Street-2</div>
 <div class="sup-values">{{this.data.status}}</div>
</div> 


<div class="sup-head">
  <div class="sup-fields">City</div>
  <div class="sup-values">{{this.data.status}}</div>
</div>
<div class="sup-head">
  <div class="sup-fields">State</div>
  <div class="sup-values">{{this.data.status}}</div>
</div>
<div class="sup-head"style="background-color: #bcceea">
 <div class="sup-fields">Pincode</div>
 <div class="sup-values">{{this.data.status}}</div>
</div>
<div class="sup-head" style="background-color: #bcceea">
 <div class="sup-fields">Mobile No.</div>
 <div class="sup-values">{{this.data.mobile}}</div>
</div> 


<div class="sup-head">
  <div class="sup-fields">Email Id</div>
  <div class="sup-values">{{this.data.email}}</div>
</div>
<div class="sup-head">
  <div class="sup-fields">PAN No</div>
  <div class="sup-values">{{this.data.status}}</div>
</div>
<div class="sup-head"style="background-color: #bcceea">
 <div class="sup-fields">GST No</div>
 <div class="sup-values">{{this.data.status}}</div>
</div>
<div class="sup-head" style="background-color: #bcceea">
 <div class="sup-fields">DL No</div>
 <div class="sup-values">{{this.data.status}}</div>
</div>


<div class="sup-head">
  <div class="sup-fields">Ref. Business unit code</div>
  <div class="sup-values">{{this.data.status}}</div>
</div>
<div class="sup-head">
  <div class="sup-fields">Initiated By</div>
  <div class="sup-values">{{this.data.status}}</div>
</div>
<div class="sup-head"style="background-color: #bcceea">
 <div class="sup-fields">Category</div>
 <div class="sup-values">{{this.data.status}}</div>
</div>
<div class="sup-head" style="background-color: #bcceea">
 <div class="sup-fields">State code</div>
 <div class="sup-values">{{this.data.status}}</div>
</div>


<div class="sup-head">
  <div class="sup-fields">Initiated On</div>
  <div class="sup-values">{{this.data.joinedDate}}</div>
</div>
<div class="sup-head">
  <div class="sup-fields">Comments</div>
  <div class="sup-values">{{this.data.urpcomments}}</div>
</div>
<div class="sup-head"style="background-color: #bcceea">
 <!-- <div class="sup-fields">Category</div>
 <div class="sup-values">434343</div> -->
</div>
<div class="sup-head" style="background-color: #bcceea">
 <!-- <div class="sup-fields">State code</div>
 <div class="sup-values">45455</div> -->
</div>

</div>
</div>
</div>

<!-- <button class="btn btn-success btn-block" (click)="openPDF()">Download Report</button> -->
<!-- <div style="height: 100px;"></div> -->

 