.customeHeading{
    margin-top: 19px;
    margin-bottom: 1px;
    font-size: 15px;
    font-weight: 700;
    color:  white;
  }
  .headers{
    background:#474668;
    color: white;
    font-size: 12px;
    font-weight: 550;
    padding-left: 5px;
    padding-top: 4px;
    }
    .tabOverFlowY{
      max-height: 400px;
      min-height: 400px;
      overflow-y: auto;
      margin-top: 5px;
      overflow-x: hidden;
  } 
  .icon-size {
    width: 1.5rem;
    height: 1.5rem;
  }
  .lovSearchButton {
    position: absolute;
    right: 0%;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }