.lov-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.tabOverFlowY{
    max-height: 400px; 
    overflow-y: auto;
    margin-top: 5px;
    overflow-x: hidden;
} 
.customeHeading{
    margin-top: 19px;
    margin-bottom: 1px;
    font-size: 15px;
    font-weight: 700;
    color:  white;
  }
mat-row:nth-child(odd) {
    background-color :rgb(204 217 255);
     
     }
     mat-header-cell {
       color: white;
       padding: 4px;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-align-self: stretch;
       -ms-flex-item-align: stretch;
       -ms-flex-item-justify: stretch;
       align-self: stretch;
       /* align-items center so that cell content is vertically centered */
       -webkit-align-items: center;
       -ms-flex-align: center;
       align-items: center;
       justify-content: center;
       text-align: center;
       border: 1px solid  #C0C0C0;;
       font-size: 18px;
       font-weight: 550;
     }
     mat-header-cell{
       text-align: center !important;
       
      }
       mat-header-row{
       /* // background-color: #6E9CCD; */
        /* background-color: #135499;
        color: white; */
        background: #369 !important;
        min-height: min-content;
        border-bottom: 1;;
   
      }
      .table-box{
       box-shadow: 0px 0px 2px 2px #b6b5c0;
       padding: 0px;
       margin-top: 9px;
     }
     mat-cell {
       word-break: unset;
       padding: 4px;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-align-self: stretch;
       -ms-flex-item-align: stretch;
       align-self: stretch;
       /* align-items center so that cell content is vertically centered */
       -webkit-align-items: center;
       -ms-flex-align: center;
       align-items: center;
       justify-items: center;
       border: 1px solid  #C0C0C0;
       
       
     }
     mat-row{
       min-height: min-content;
       //border: 1px;
     }
     mat-card-header-text{
       padding: 0px;
     }
     mat-cell, mat-footer-cell {
       font-size: 15px;
       line-height: 15px;
       font-weight: 600;
      // border: 1px;
      //border: 1px solid springgreen;
      border-bottom: 1px solid;
      
     }
     button{
         margin: 5px;
     }
     mat-footer-row {
       border: 1px solid #e7e7e7;
       font-weight: bold;
       height: 15px !important;
       
   }
   mat-form-field{
       font-size: 0.81em;
       //width:15%;
       margin-top: 4px;
       margin-bottom: -10px;
       }
       mat-mdc-form-field-infix {
           min-height: 30px;
         }
         .input-group-addon{color:#ff0000; background-color: #ffffff;}
       //////////////////////////////////////////////////////////
       // .container {
       //     /* width:75%; */
       //     display: flex;
       //     flex-direction: column;
       //     justify-content: flex-start;
       //     align-content: flex-start;
       //     flex-wrap: nowrap;
       //     margin-left: 1rem;
       //     margin-top: 0.5rem;
       //     width: auto;
       //     zoom: 87%;
       //   }
