<div class="adjust">
<div class="example-table-container">
    <app-rqp-header [pageData]="this.pageData"  (headerData)="getHeaderData($event)"></app-rqp-header>
<!-- <mat-card style="margin-top: 2px;background-color:#fdfdfd;">
    <div class="btn-group" class="headers" style="padding-left: 5px;padding-right: 5px; margin: 4px;height: 33px;">
        <div style="float: left;">
            <p style="color: aliceblue;font-size: 12px;margin-top: 2px;">Headers</p>
        </div>
    </div>
</mat-card> -->

    <!-- <div class="row">
        <div class="col-12">
            <div class="p-2">
                <div class="row no-gutters mt-1 pb-2 ms-1 me-1">
                    <span style="padding-left: 4px;color: mediumblue;font-size: 12px;">Required Fields are
                        denoted by an asterisk(<span style="color: red">*</span>).</span>
                </div>
                <form [formGroup]="HeaderForm">
                <div class="row no-gutters ms-1 me-1 dense-4">
                    <mat-form-field appearance="outline" class="col-3 px-1">
                        <mat-label>Oarganization Unit Code</mat-label>
                        <input type="text" matInput formControlName="oucode" placeholder="Oarganization Unit Code">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-3 px-1">
                        <mat-label>Life Cycle No</mat-label>
                        <input type="text" matInput formControlName="lc0001" placeholder="Life Cycle No">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-3 px-1">
                        <mat-label>Request No</mat-label>
                        <input type="text" matInput formControlName="lc0002" placeholder="Request No">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-3 px-1">
                        <mat-label>Stage</mat-label>
                        <input type="text" matInput formControlName="lc0003" placeholder="Stage">
                    </mat-form-field>
                </div>
                </form>
            </div>
        </div>
    </div> -->
    <mat-card style="margin-top: 2px;background-color:#fdfdfd;">
        <div class="btn-group" class="headers" style="padding-left: 5px;padding-right: 5px; margin: 4px;height: 33px;">
            <div style="float: left;">
                <p style="color: aliceblue;font-size: 12px;margin-top: 2px;">Company Information</p>
            </div>
        </div>
    </mat-card>
    <!--address -->
    <div class="adjust">
        <div class="unit-code-container">
            <div class="unit-code-box">
                <form [formGroup]="ViewDetailForm">
                    <div class="row no-gutters ms-1 me-1 dense-4" style="margin-top: 10px;">
        
                        <mat-form-field appearance="outline" class="col-12 px-1">
                            <mat-label>Oarganization Unit Code</mat-label>
                            <input type="text" matInput placeholder="Oarganization Unit Code"formControlName="orgUnitCode"
                            (change)="onChangeOrgUnitCode()">
                            <img  alt="lov img"  src="../../../../../../assets/searchfind.svg"
                            class="icon-size lovSearchButton" color="primary"(click)="openOrgUnitCodeLov()"> 
                        </mat-form-field>
                        </div>
                        </form>
                <div class="supplier-content-code"*ngIf="this.unitCodeData">
                    <div class="sup-head-code" style="background-color: #bcceea;">
                     <div class="sup-fields-code"style="padding: 4px;">Address of organization unit</div>
                     <div class="sup-values-code"style="padding: 4px;">{{unitCodeData[0].ff0003}}, {{unitCodeData[0].ff0004}}, {{unitCodeData[0].ff0005}},{{unitCodeData[0].ff0007}},{{unitCodeData[0].ff0007}},<br>
                       <span style="font-weight: 700;">Pincode:</span> {{unitCodeData[0].ff0008}},<span style="font-weight: 700;">  Mobile: </span>{{unitCodeData[0].ff0009}}<br><span style="font-weight: 700;">Email: </span>{{unitCodeData[0].ff0010}},
                       <br><span style="font-weight: 700;">PAN: </span>{{unitCodeData[0].ff0011}},
                       <span style="font-weight: 700;">GST: </span>{{unitCodeData[0].ff0012}}</div>
                    </div>
             
            </div>
        </div>
        </div>
        <div class="sales-code-container">
            <div class="unit-code-box">
                <form [formGroup]="ViewDetailForm">
                    <div class="row no-gutters ms-1 me-1 dense-4" style="margin-top: 10px;">
        
                        <mat-form-field appearance="outline" class="col-12 px-1">
                            <mat-label>Sale Unit Code</mat-label>
                            <input type="text" matInput placeholder="Sale Unit Code"formControlName="salesUnitCode"
                            (change)="onChangeSalesUnitCode()">
                            <img  alt="lov img"  src="../../../../../../assets/searchfind.svg"
                            class="icon-size lovSearchButton" color="primary"(click)="openSalesUnitLov()"> 
                        </mat-form-field>
                        </div>
                        </form>
                <div class="supplier-content-code" *ngIf="this.unitCodeData">
                    <div class="sup-head-code" style="background-color: #bcceea;">
                        <div class="sup-fields-code" style="padding: 4px;">Address of sales unit</div>
                        <div class="sup-values-code"style="padding: 4px;">{{unitCodeData[1].ff0003}}, {{unitCodeData[1].ff0004}}, {{unitCodeData[1].ff0005}},{{unitCodeData[1].ff0007}},{{unitCodeData[1].ff0007}},<br>
                            <span style="font-weight: 700;">Pincode:</span> {{unitCodeData[1].ff0008}},<span style="font-weight: 700;">  Mobile: </span>{{unitCodeData[1].ff0009}}<br><span style="font-weight: 700;">Email: </span>{{unitCodeData[1].ff0010}},
                            <br><span style="font-weight: 700;">PAN: </span>{{unitCodeData[1].ff0011}},
                            <span style="font-weight: 700;">GST: </span>{{unitCodeData[1].ff0012}}</div>
                       </div>
                
            </div>
        </div>
        </div>
    </div>
    <!--address-->
    <!-- <div class="row">
        <div class="col-12">
            <div class="p-2">

            <form [formGroup]="ViewDetailForm">
            <div class="row no-gutters ms-1 me-1 dense-4" style="margin-top: 10px;">

                <mat-form-field appearance="outline" class="col-3 px-1">
                    <mat-label>Oarganization Unit Code</mat-label>
                    <input type="text" matInput placeholder="Oarganization Unit Code"formControlName="orgUnitCode"
                    (change)="onChangeOrgUnitCode()">
                    <img  alt="lov img"  src="../../../../../../assets/searchfind.svg"
                    class="icon-size lovSearchButton" color="primary"(click)="openOrgUnitCodeLov()"> 
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-3 px-1">
                    <mat-label>Sale Unit Code</mat-label>
                    <input type="text" matInput placeholder="Sale Unit Code"formControlName="salesUnitCode"
                    (change)="onChangeSalesUnitCode()">
                    <img  alt="lov img"  src="../../../../../../assets/searchfind.svg"
                    class="icon-size lovSearchButton" color="primary"(click)="openSalesUnitLov()"> 
                </mat-form-field>
            
            </div>
        </form>
    </div>
        </div>
    </div> -->
    <!-- <mat-card style="margin-top: 2px;background-color:#fdfdfd;">
<div class="btn-group" class="headers"
style="padding-left: 5px;padding-right: 5px; margin: 4px;height: 33px;">
<div style="float: left;">
    <p style="color: aliceblue;font-size: 12px;margin-top: 2px;">Details</p>
</div>
</div>
</mat-card>
<div class="row">
    <div class="col-12">
      

        </div>
        </div> -->
    <mat-card style="margin-top: 2px;background-color:#fdfdfd;">
        <div class="btn-group" class="headers" style="padding-left: 5px;padding-right: 5px; margin: 4px;height: 33px;">
            <div style="float: left;">
                <p style="color: aliceblue;font-size: 12px;margin-top: 2px;">Product Information</p>
            </div>
            <div style="float: right;" >
                <!-- <button (click)="addNewRow()">add</button> -->
                <button mat-raised-button color="primary" 
                    style="background-color: #099622;font-size: smaller;height: 25px;font-weight: 700;"
                    (click)="addNewRow()">Add</button>
            </div>
        </div>
    </mat-card>
    <div class="row">
        <div class="col-12" >
             <div class="p-2">
            <div class="tabOverFlowX" *ngIf="this.stockList.length>0" style="background: cadetblue;">
               
                <table class="display-table" id="dataTable">
                    <thead style="background:#369 !important;">
                        <tr>
                            <th></th>

                            <th style="color: white;">Price Code</th>
                            <th style="color: white;">Product Code</th>
                            <th style="color: white;">Product Name</th>
                            <th style="color: white;">Product No</th>
                            <th col="7" style="color: white;">Quantity</th>
                            <!-- <th style="color: white;">PO Date</th> -->
                            <th style="color: white;">HSN Code</th>

                            <th col="10" style="color: white;">Rate</th>
                            <th col="11" style="color: white;">% Discount</th>
                            <th col="12" style="color: white;">Discount Amount</th>
                            <th col="12" style="color: white;">Total Discount</th>
                            <th col="13" style="color: white;">After Discount Rate </th>
                            <th style="color: white;">%GST</th>
                            <th style="color: white;">GST Amount</th>
                            <th style="color: white;">Amount</th>
                            <!-- <th>Action</th> -->

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of stockList; let idx=index">
                           <td><img src="/assets/delete.png" (click)="deleteTodo(idx)"></td>
                           <td>
                            <input type="text" class="form-control form-control-sm txt-box"style="width: 150px;"[class.isReadonlyFieldForQuotation]="isReadonly"
                                [(ngModel)]="item.ff0020" [ngModelOptions]="{standalone: true}" required [readonly]="isReadonly">
                        </td>
                            <td>
                                <input type="text" class="form-control form-control-sm txt-box"style="width: 140px;"[class.isReadonlyFieldForQuotation]="isReadonly"
                                    [(ngModel)]="item.productCode" [ngModelOptions]="{standalone: true}" required [readonly]="isReadonly">
                            </td>

                            <td>
                                <input type="text" class="form-control form-control-sm txt-box"[class.isReadonlyFieldForQuotation]="isReadonly"
                                    [(ngModel)]="item.productName" [ngModelOptions]="{standalone: true}" required [readonly]="isReadonly">
                            </td>
                            <td>
                                <input type="text" class="form-control form-control-sm txt-box"style="width: 100px;"[class.isReadonlyFieldForQuotation]="isReadonly"
                                    [(ngModel)]="item.productNumber" [ngModelOptions]="{standalone: true}" required [readonly]="isReadonly">
                            </td>
                            <td>
                                <input type="number" class="form-control form-control-sm txt-box" style="width: 70px;"
                                    [(ngModel)]="item.quantity" [ngModelOptions]="{standalone: true}"
                                    (change)="onCalAllFieldAmount(idx)" required>
                            </td>
                            <!-- <td>
                                <input type="date" class="form-control form-control-sm txt-box"style="width: 120px;"
                                    [(ngModel)]="item.ff0008" [ngModelOptions]="{standalone: true}" required>
                            </td> -->
                            <td>
                                <input type="text" class="form-control form-control-sm txt-box"style="width: 140px;"
                                    [(ngModel)]="item.gethSNCode" [ngModelOptions]="{standalone: true}" [class.isReadonlyFieldForQuotation]="isReadonly" required
                                    [readonly]="isReadonly">
                            </td>



                            <td>
                                <input type="number" class="form-control form-control-sm txt-box"style="width: 100px;"
                                    [(ngModel)]="item.rate" [ngModelOptions]="{standalone: true}"
                                    [readonly]="isReadonly" [class.isReadonlyFieldForQuotation]="isReadonly" required>
                            </td>
                            <td>
                                <input type="number" class="form-control form-control-sm txt-box"style="width: 100px;"
                                    [(ngModel)]="item.discountPercentage" [ngModelOptions]="{standalone: true}"
                                    (change)="onCalAllFieldAmount(idx)" required>
                            </td>
                            <td>
                                <input type="number" class="form-control form-control-sm txt-box"style="width: 100px;"
                                    [(ngModel)]="item.discount" [ngModelOptions]="{standalone: true}"
                                    [readonly]="isReadonly" [class.isReadonlyFieldForQuotation]="isReadonly" required>
                            </td>
                            <td>
                                <input type="text" class="form-control form-control-sm txt-box"style="width: 100px;"
                                    [(ngModel)]="item.discountedRate" [ngModelOptions]="{standalone: true}"
                                    [readonly]="isReadonly" [class.isReadonlyFieldForQuotation]="isReadonly" required>
                            </td>
                            <td>
                                <input type="number" class="form-control form-control-sm txt-box"style="width: 100px;"
                                    [(ngModel)]="item.ff0013" [ngModelOptions]="{standalone: true}"
                                    [readonly]="isReadonly" [class.isReadonlyFieldForQuotation]="isReadonly" required>
                            </td>
                            <!-- <td>
                                <input type="text" class="form-control form-control-sm txt-box"  [(ngModel)]="item.ff0014" [ngModelOptions]="{standalone: true}" required>
                            </td> -->
                            <td>
                                <input type="number" class="form-control form-control-sm txt-box"style="width: 100px;"
                                    [(ngModel)]="item.gst" [ngModelOptions]="{standalone: true}"
                                    (change)="onCalAllFieldAmount(idx)" required>
                            </td>
                            <td>
                                <input type="number" class="form-control form-control-sm txt-box"style="width: 100px;"
                                    [(ngModel)]="item.gstAmount" [ngModelOptions]="{standalone: true}"
                                    [readonly]="isReadonly" [class.isReadonlyFieldForQuotation]="isReadonly" required>
                            </td>
                            <td>
                                <input type="number" class="form-control form-control-sm txt-box"style="width: 100px;"
                                    [(ngModel)]="item.finalPrice" [ngModelOptions]="{standalone: true}"
                                    [readonly]="isReadonly" [class.isReadonlyFieldForQuotation]="isReadonly" required>
                            </td>

                          <!-- <td><button (click)="deleteTodo(idx)">delete</button></td> -->
                        </tr>
                    </tbody>
                    <tfoot>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                       
                        <td style="text-align: left;
                        color: black;
                        font-weight: 700;
                        border-radius: 25px;
                        border: 1px solid #ebe2e2;
                        background-color: #dfecec;
                        box-shadow: 1px 1px 1px 1px #0f3064;">{{totalDisAmt | number:'1.2-2'}}</td>
                        <td style="text-align: left;
                        color: black;
                        font-weight: 700;
                        border-radius: 25px;
                        border: 1px solid #ebe2e2;
                        background-color: #dfecec;
                        box-shadow: 1px 1px 1px 1px #0f3064;">{{afterDisAmt | number:'1.2-2'}}</td>
                        <td></td>
                        <td></td>
                        <td style="text-align: left;
                        color: black;
                        font-weight: 700;
                        border: 1px solid #ebe2e2;
                        background-color: #dfecec;
                        border-radius: 25px;
                        box-shadow: 1px 1px 1px 1px #0f3064;">{{totalAmt | number:'1.2-2'}}</td>
                    </tfoot>
                </table>
            </div>
                </div>
                <div style="padding-right: 15px;padding-left: 15px;">

                    <mat-card style="margin-top: 2px;background-color:#dfece0;">
                    <div class="supplier-content">
                     <div class="sup-head" style="background-color: #bcceea;">
                      <div class="sup-fields">Total Discount : </div>
                      <div class="sup-values">{{totalDisAmt | number:'1.2-2'}}</div>
                     </div>
                     <div class="sup-head" style="background-color: #bcceea;">
                        <div class="sup-fields">After Discount Sub Total Amount : </div>
                        <div class="sup-values">{{afterDisAmt | number:'1.2-2'}}</div>
                       </div>
                      
                       <div class="sup-head" >
                        <div class="sup-fields">SGST : </div>
                        <div class="sup-values">{{SGST | number:'1.2-2'}}</div>
                       </div>
                       <div class="sup-head" >
                        <div class="sup-fields">CGST </div>
                        <div class="sup-values">{{CGST | number:'1.2-2'}}</div>
                       </div>
                       <div class="sup-head"  style="background-color: #bcceea;">
                        <div class="sup-fields">IGST</div>
                        <div class="sup-values">{{IGST | number:'1.2-2'}}</div>
                       </div>
                       <div class="sup-head" style="background-color: #bcceea;">
                          <div class="sup-fields">Total GST Amount </div>
                          <div class="sup-values">{{totalGst | number:'1.2-2'}}</div>
                         </div>
                         <div class="sup-head">
                            <div class="sup-fields">Total Amount : </div>
                            <div class="sup-values">{{totalAmt | number:'1.2-2'}}</div>
                           </div>
                    </div>
</mat-card>

                    <form [formGroup]="QuotationForm">
                <div class="row no-gutters ms-1 me-1 dense-4" style="margin-top: 10px;">
                    <mat-form-field appearance="outline" class="col-4 px-1">
                        <mat-label>Quotetion Valid To Date</mat-label>
                        <input type="text" matInput formControlName="quotationValidDate" placeholder="Quotetion Valid  To Date" [matDatepicker]="picker1">
                        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-4 px-1">
                        <mat-label>Delivery Date </mat-label>
                        <input type="text" matInput formControlName="deliveryDate" placeholder="Delivery Date" [matDatepicker]="picker2">
                        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-4 px-1">
                        <mat-label>Payment Terms Code</mat-label>
                        <input type="text" matInput formControlName="paymentTermsCode" placeholder="Payment Terms Code">
                    </mat-form-field>
                    <!-- <mat-form-field appearance="outline" class="col-3 px-1">
                        <mat-label>Disount Amount</mat-label>
                        <input type="text" matInput formControlName="ff0007" [class.isReadonlyFieldForQuotation]="isReadonly" placeholder="Disount Amount">
                    </mat-form-field> -->
                </div>
                <!-- <div class="row no-gutters ms-1 me-1 dense-4" style="margin-top: 10px;">

                   
                    <mat-form-field appearance="outline" class="col-3 px-1">
                        <mat-label>After Discount Sub Total Amount</mat-label>
                        <input type="text" matInput formControlName="ff0008"[class.isReadonlyFieldForQuotation]="isReadonly"
                            placeholder="After Discount Sub Total Amount">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-3 px-1">
                        <mat-label>SGST</mat-label>
                        <input type="number" matInput formControlName="ff0009" [class.isReadonlyFieldForQuotation]="isReadonly"
                            placeholder="SGST">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-3 px-1">
                        <mat-label>CGST</mat-label>
                        <input type="number" matInput formControlName="ff0010" [class.isReadonlyFieldForQuotation]="isReadonly"
                            placeholder="CGST">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-3 px-1">
                        <mat-label>IGST</mat-label>
                        <input matInput formControlName="ff0011" placeholder="IGST" [class.isReadonlyFieldForQuotation]="isReadonly">
                    </mat-form-field>
                </div> -->
                <!-- <div class="row no-gutters ms-1 me-1 dense-4" style="margin-top: 10px;">
                  
                    <mat-form-field appearance="outline" class="col-3 px-1">
                        <mat-label>Total GST</mat-label>
                        <input matInput formControlName="ff0012" placeholder="Total GST" [class.isReadonlyFieldForQuotation]="isReadonly">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-3 px-1">
                        <mat-label>Total Amount </mat-label>
                        <input matInput formControlName="ff0013" placeholder="Total Amount" [class.isReadonlyFieldForQuotation]="isReadonly">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-3 px-1">
                        <mat-label>Order Status</mat-label>
                        <input type="text" matInput formControlName="ff0014" placeholder="Order Status">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-3 px-1">
                        <mat-label>Stage</mat-label>
                        <input type="text" matInput formControlName="ff0015" placeholder="Stage">
                    </mat-form-field>
                </div> -->
                </form>
            </div>

        </div>
    </div>
  
    <mat-card style="margin-top: 2px;background-color:#fdfdfd;">
        <div class="btn-group" class="headers" style="padding-left: 5px;padding-right: 5px; margin: 4px;height: 33px;">
            <div style="float: left;">
                <p style="color: aliceblue;font-size: 12px;margin-top: 2px;">Comments</p>
            </div>
        </div>
    </mat-card>
    <div class="row">
        <div class="col-12">
            <form [formGroup]="QuotationForm">
            <div class="row no-gutters ms-1 me-1" style="margin-top: 10px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Comments</mat-label>
                    <textarea type="text" matInput  placeholder="Comments"formControlName="comments">
                            </textarea>
                </mat-form-field>
            </div>

            <div class="row no-gutters ms-1 me-1 dense-4">
                <mat-form-field appearance="outline" class="col-4 px-1">
                    <mat-label>Next stage</mat-label>
                    <input type="text" matInput formControlName="nextStage" placeholder="Next Stage"
                    (change)="onChangeNextStage()">
                    <img  alt="lov img"  src="../../../../../../assets/searchfind.svg"
                    class="icon-size lovSearchButton" color="primary"(click)="openNextStageLov()"> 
                </mat-form-field>
            </div>
            </form>
        </div>
    </div>

<div class="containerBTN" style="margin-top: 2px; margin-bottom: 5px;">
    <div class="d-flex justify-content-center">
        <button mat-raised-button color="primary"
            style="font-size: smaller;background-color: #295ea3;height: 25px;" (click)="onSaveConfirmation('0')">Save</button>
            <button mat-raised-button color="primary"
            style="font-size: smaller;background-color: #295ea3;height: 25px; margin-left: 5px;" (click)="onSubmit('1')">Submit</button>
        <button mat-raised-button color="primary"
            style="font-size: smaller;background-color: #295ea3;height: 25px; margin-left: 5px;">Clear</button>
    </div>
</div>
<mat-spinner *ngIf="isLoading" class="global-loading-spinner" color="primary" mode="indeterminate" ></mat-spinner>
</div>

</div>

<div style="height: 35px;"></div>