
.buttonContainer
{
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}

.buttonContainer button{
    width: 72px;
    padding-top: 20px;

}
.msg-container-body{
    margin: 25px 5px 5px 5px !important;
    color: #f2f2f2;
    display: flex;
    height: 50px;
    color: black;
    overflow-y: auto;
    min-height: 75px;
    justify-content: center;
}
.msg-container-body h3
{
    font-size: 14px;
    display: flex;
}


 .msg-container-header h4 {
    font-size: 1.15rem;
}
//Bharat 
.msg-container-header{
    margin-top: 0 !important;
    background-color: #cae4f3;
    color: black;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 0.7em;
    font-weight: 900;
    padding: 10px 0px !important;
}

.closeModuleButtons{
    padding: 5px 20px !important;
    display: block;
    border-radius: 5px;
    border: none;
    color: white;
    background-image: linear-gradient(to bottom right, #0041a8, #0194d2);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
    outline: none;
}
.mat-dialog-container{
    padding: 0px;
}


 