
<div class="row no-gutters">
    <div class="col-8 d-flex justify-content-start">
        <h1 class="customeHeading">Review Comments History</h1>
    </div>
    <div class="col-4 d-flex justify-content-end">
        <button mat-icon-button  (click)="openPDF()">
            <mat-icon class="close-icon" color="primary">download</mat-icon>
          </button>
          <button mat-icon-button [mat-dialog-close]="true"  >
            <mat-icon class="close-icon" color="warn">close</mat-icon>
          </button>
    </div>
    <!-- <div class="col-2 d-flex justify-content-end">
        
    </div> -->

    </div>
<div class="table-box" id="htmlData"style="padding: 25px;background: #edf0f8;" *ngIf="this.data" class="tabOverFlowY">
    <div style="margin-top: 10px;">
<div class="sup-head1"style="margin-top: 10px;">
  <div class="logo2">
      <span style="    float: left;
      font-size: 18px;
      font-family: auto;">
        <h2 style="    font-weight: 800;
        font-family: none;
        color: #040496;
    ">  Business Unit Information</h2>
       </span>
      <span style="float: right;">
        <img src="../../../assets/logo1.png">
      </span>
      </div>
</div>
<!-- <div class="headers">Business Unit Information</div> -->
<div *ngFor="let data of this.data">
  <div >
<div  class="headers"
style="padding-left: 5px;padding-right: 5px; margin: 4px;height: 33px;">

    <p style="color: aliceblue;font-size: 12px;margin-top: 2px;">Business Unit Information</p>

</div>
<div class="supplier-content">
 <div class="sup-head">
   <div class="sup-fields">Employee ID</div>
   <div class="sup-values">{{data.employeeId}}</div>
 </div>
 <div class="sup-head">
   <div class="sup-fields">Status</div>
   <div class="sup-values">{{onChangeStatus(data.status)}}</div>
 </div>
 <div class="sup-head"style="background-color: #bcceea;">
  <div class="sup-fields">User ID</div>
   <div class="sup-values">{{this.data.userId}}</div>
  <!-- <div class="sup-fields">First Name</div>
  <div class="sup-values">{{this.data.firstName}}</div> -->
</div>
<div class="sup-head" style="background-color: #bcceea;">
  <div class="sup-fields">Name</div>
  <div class="sup-values">{{data.lastName}} {{data.firstName}}</div>
 </div> 

 <div class="sup-head">
  <div class="sup-fields">Branch Code</div>
  <div class="sup-values">{{data.branchName}}</div>
</div>
<div class="sup-head">
  <div class="sup-fields">Department</div>
  <div class="sup-values">{{data.department}}</div>
</div>
<div class="sup-head"style="background-color: #bcceea">
 <div class="sup-fields">Section</div>
 <div class="sup-values">{{data.branchId}}</div>
</div>
<div class="sup-head" style="background-color: #bcceea">
 <div class="sup-fields">Designation</div>
 <div class="sup-values">{{data.designation}}</div>
</div> 


<div class="sup-head">
  <div class="sup-fields">E-Mail</div>
  <div class="sup-values">{{data.email}}</div>
</div>
<div class="sup-head">
  <div class="sup-fields">Alternate E-Mail</div>
  <div class="sup-values">{{data.altEmail}}</div>
</div>
<div class="sup-head"style="background-color: #bcceea">
 <div class="sup-fields">Mobile No</div>
 <div class="sup-values">{{data.mobile}}</div>
</div>
<div class="sup-head" style="background-color: #bcceea">
 <div class="sup-fields">Alternate Mobile No</div>
 <div class="sup-values">{{data.altMobile}}</div>
</div> 


<div class="sup-head">
  <div class="sup-fields">Level-1 Manager</div>
  <div class="sup-values">{{data.levelOneManager}}</div>
</div>
<div class="sup-head">
  <div class="sup-fields">Level-2 Manager</div>
  <div class="sup-values">{{data.levelTwoManager}}</div>
</div>
<div class="sup-head"style="background-color: #bcceea">
 <div class="sup-fields">Gender</div>
 <div class="sup-values">{{data.gender}}</div>
</div>
<div class="sup-head" style="background-color: #bcceea">
  <div class="sup-fields">Date of Birth</div>
  <div class="sup-values">{{data.dob}}</div>
</div>


<div class="sup-head">
  <div class="sup-fields">Date of joined</div>
  <div class="sup-values">{{data.joinedDate}}</div>
</div>
<div class="sup-head">
  <div class="sup-fields">Effective Date</div>
 <div class="sup-values">{{data.effectiveDate}}</div>
</div>
</div>

<div class="supplier-content-comments">
<div class="sup-head-comments" style="background-color: #bcceea">
  <div class="sup-fields-comments" >Comments :-</div>
  <div class="sup-values-comments">{{data.urpcomments}}</div>
</div>
</div>
</div>
</div>
<!-- <div class="sup-head">
  <div class="sup-fields">Initiated On</div>
  <div class="sup-values">{{this.data.joinedDate}}</div>
</div> -->
<!-- <div class="sup-head">
  <div class="sup-fields">Comments</div>
  <div class="sup-values">{{this.data.urpcomments}}</div>
</div> -->
<!-- <div class="sup-head"style="background-color: #bcceea"> -->
 <!-- <div class="sup-fields">Category</div>
 <div class="sup-values">434343</div> -->
<!-- </div>
<div class="sup-head" style="background-color: #bcceea"> -->
 <!-- <div class="sup-fields">State code</div>
 <div class="sup-values">45455</div> -->
<!-- </div> -->

</div>
</div>


<!-- <button class="btn btn-success btn-block" (click)="openPDF()">Download Report</button> -->
<!-- <div style="height: 100px;"></div> -->

 