
<div
class="bg-image d-flex justify-content-center align-items-center"
  style="
    background-image: url('../../../assets/test1.jpg');
    height: 75vh;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  ">
    <div class="mat-card-cvr" >
    <mat-card class="login_card" style="margin-top: 10px;">
        <mat-card-content>
            <div class="logo1">
                <span>
                  <img src="../../../assets/logo1.png">
                </span>
              </div>
    
    
              <form class="example-form" [formGroup]="LoginForm" style="margin-top: 15px;">
                <div class="dense-2">
                <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
                  <mat-label>Current Password</mat-label>
                  <!-- <input type="password" matInput formControlName="password" required
                         placeholder="Please enter password" > -->
                         <!-- <mat-icon matSuffix>lock</mat-icon> -->
                         <input matInput [type]="hide ? 'password' : 'text'" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
                </mat-form-field>
                </div>
                <div class="dense-2">
                <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
                  <mat-label>New Password</mat-label>
                  <!-- <input type="password" matInput formControlName="password" required
                         placeholder="Please enter password" > -->
                         <!-- <mat-icon matSuffix>lock</mat-icon> -->
                         <input matInput [type]="hide ? 'password' : 'text'" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
                </mat-form-field>
                </div>
              </form>
              <div mat-dialog-actions style="margin-top: 2px;">
              <button mat-raised-button color="primary" style="width:100%;height: 45px;" >Submit</button>
              <button mat-raised-button  style="width:100%;height: 45px; margin-top: 10px;">Clear</button>
            </div>
        </mat-card-content>
    
      </mat-card>
    </div>
    </div>
    <!-- <div style="height: 300px;"></div> -->
      