<mat-spinner *ngIf="isLoading" class="global-loading-spinner" color="primary"
  mode="indeterminate" ></mat-spinner>
  <div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-9 d-flex justify-content-start">
            <h1 class="customeHeading"> User List</h1>
        </div>
        <div class="col-3 d-flex justify-content-end">
            <button mat-icon-button  (click)="onSave()">
                <mat-icon class="close-icon" color="primary">save</mat-icon>
              </button>
            <button mat-icon-button class="close-button" [mat-dialog-close]="true">
                <mat-icon class="close-icon" color="warn">close</mat-icon>
              </button>
        </div>
        </div>
  <div class="adjust">
  <div class="example-table-container">
    <!-- <div class="table-box" style="margin-left: 10px;margin-right: 10px;background-color:#474668;">
          
        <div class="btn-group" class="headers"
          style="padding-left: 5px;padding-right: 5px; margin-top: 4px;height: 33px;">
          <div style="float: left;">
            <p style="color: aliceblue;font-size: 12px;margin-top: 2px;">User Profile Information</p>
          </div>
          <div style="float: right;">
          
            <input type="text" (keyup)="applyFilter(filterField.value)" #filterField placeholder="Search">
            
          </div>
        </div>
      </div> -->



    <div style="background-color: #167448;padding: 5px;">
    
         <mat-table [dataSource]="tableData" matTableExporter #exporter="matTableExporter"
          style="background-color: ghostwhite;" matSort id="dataTable">
   
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef>Action </mat-header-cell>
            <mat-cell *matCellDef="let row">
            <img src="/assets/add.png" (click)="onUser(row)">
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="userId">
              <mat-header-cell *matHeaderCellDef mat-sort-header>User Id</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.userId}} </mat-cell>
            </ng-container>
       
          <!-- <ng-container matColumnDef="employeeId">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Employee Id </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.employeeId}} </mat-cell>
          </ng-container> -->

          <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.firstName}} </mat-cell>
          </ng-container>

         
          <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.lastName}}</mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="userDisplayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: userDisplayedColumns;"></mat-row>
        </mat-table> 

        <mat-paginator [pageSizeOptions]="[10, 15, 20,25]" (page)="pageChanged($event)" showFirstLastButtons aria-label="Select page of periodic rows">
        </mat-paginator>

      </div>
  </div>
  <div class="buttonBox">
    <div style="background-color: #198754;padding: 5px; height: 100%;">
        <div style="margin-top: 100%;">
    <button mat-raised-button color="primary" 
    style="background-color: #295ea3;font-size: smaller;height: 25px;"(click)="addAllUser()">⇒ Add All</button>
    <button mat-raised-button color="primary" 
    style="background-color: #a32929;font-size: smaller;height: 25px;"(click)="removeAllUser()">⇐ Remove All</button>
  </div>
</div>
</div>
  <div class="filter">
    <div style="background-color: #167448;padding: 5px;">
    
        <mat-table [dataSource]="removedTable" matTableExporter #exporter="matTableExporter"
         style="background-color: ghostwhite;" matSort id="dataTable">
  
         <ng-container matColumnDef="action">
           <mat-header-cell *matHeaderCellDef>Action </mat-header-cell>
           <mat-cell *matCellDef="let row">
           <img src="/assets/delete.png" (click)="onUserRemove(row)">
           </mat-cell>
         </ng-container>
         <ng-container matColumnDef="userId">
             <mat-header-cell *matHeaderCellDef mat-sort-header>User Id</mat-header-cell>
             <mat-cell *matCellDef="let row"> {{row.userId}} </mat-cell>
           </ng-container>
      
         <!-- <ng-container matColumnDef="employeeId">
           <mat-header-cell *matHeaderCellDef mat-sort-header>Employee Id </mat-header-cell>
           <mat-cell *matCellDef="let row"> {{row.employeeId}} </mat-cell>
         </ng-container> -->

         <ng-container matColumnDef="firstName">
           <mat-header-cell *matHeaderCellDef mat-sort-header> first Name </mat-header-cell>
           <mat-cell *matCellDef="let row"> {{row.firstName}} </mat-cell>
         </ng-container>

        
         <ng-container matColumnDef="lastName">
           <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
           <mat-cell *matCellDef="let row"> {{row.lastName}}</mat-cell>
         </ng-container>
         <mat-header-row *matHeaderRowDef="AddedUserdisplayedColumns"></mat-header-row>
         <mat-row *matRowDef="let row; columns: AddedUserdisplayedColumns;"></mat-row>
       </mat-table> 

       <mat-paginator [pageSizeOptions]="[10, 15, 20,25]" (page)="pageChanged($event)" showFirstLastButtons aria-label="Select page of periodic rows">
       </mat-paginator>

     </div>
  </div>
  </div>
  <div style="margin-bottom: 50px;"></div>
  </div>
