.headers{
    background:#474668;
    color: white;
    font-size: 12px;
    font-weight: 550;
    padding-left: 5px;
    padding-top: 4px;
    }
    .customeHeading{
        margin-top: 19px;
        margin-bottom: 1px;
        font-size: 15px;
        font-weight: 700;
        color:  #0472b6;
      }
      .tabOverFlowY{
        max-height: 400px;
        min-height: 400px;
        overflow-y: auto;
        margin-top: 5px;
        overflow-x: hidden;
    } 
    mat-row:nth-child(odd) {
        background-color :rgb(204 217 255);
         
         }
         mat-header-cell {
           color: white;
           padding: 4px;
           display: -ms-flexbox;
           display: -webkit-flex;
           display: flex;
           -webkit-align-self: stretch;
           -ms-flex-item-align: stretch;
           -ms-flex-item-justify: stretch;
           align-self: stretch;
           /* align-items center so that cell content is vertically centered */
           -webkit-align-items: center;
           -ms-flex-align: center;
           align-items: center;
           justify-content: center;
           text-align: center;
           border: 1px solid  #C0C0C0;;
           font-size: 10px;
           font-weight: 550;
         }
         mat-header-cell{
           text-align: center !important;
           
          }
           mat-header-row{
           /* // background-color: #6E9CCD; */
            /* background-color: #135499;
            color: white; */
            background: #369 !important;
            min-height: min-content;
            border-bottom: 1;;
       
          }
          .table-box{
           box-shadow: 0px 0px 2px 2px #b6b5c0;
           padding: 0px;
           margin-top: 9px;
         }
         mat-cell {
           word-break: unset;
           padding: 4px;
           display: -ms-flexbox;
           display: -webkit-flex;
           display: flex;
           -webkit-align-self: stretch;
           -ms-flex-item-align: stretch;
           align-self: stretch;
           /* align-items center so that cell content is vertically centered */
           -webkit-align-items: center;
           -ms-flex-align: center;
           align-items: center;
           justify-items: center;
           border: 1px solid  #C0C0C0;
           
           
         }
         mat-row{
           min-height: min-content;
           //border: 1px;
         }
         mat-card-header-text{
           padding: 0px;
         }
         mat-cell, mat-footer-cell {
           font-size: 10px;
           line-height: 10px;
           font-weight: 600;
          // border: 1px;
          //border: 1px solid springgreen;
          border-bottom: 1px solid;
          
         }
         button{
             margin: 5px;
         }
         mat-footer-row {
           border: 1px solid #e7e7e7;
           font-weight: bold;
           height: 10px !important;
           
       }
       .example-table-container{
        min-width: 79%;
        /* overflow-x: scroll; */
      }
      .filter{
        min-width:19%;
      }
      .adjust{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: space-between;
        /* max-width: 180%; */
      }
      .filter{
        min-width:19%;
      }
      .filter-box{
        box-shadow: 0px 0px 2px 2px #b6b5c0;
        padding: 4px;
        margin-top: 6px;
      }
      .headers{
        background:#474668;
        color: white;
        font-size: 12px;
        font-weight: 550;
        padding-left: 5px;
        padding-top: 4px;
        }

        //new table
        .display-table {
          border-spacing: 5px 3px;
          border-collapse: separate;
          overflow-x: scroll;
        }
        
        .display-table td {
          padding: 2px 5px;
          text-align: right;
          vertical-align: middle;
          white-space: nowrap;
        }
        
        .display-table input {
          width: auto;
        }
        
        .details-table {
          border: 1px solid #676767 !important;
          border-top: 1px solid #676767;
          border-bottom: 2px solid #676767 !important;
          border-left: 0px solid;
          border-right: 0px solid;
          margin-top: 15px;
          /* border-radius: 5px 5px 5px 5px !important; */
        }
        
        .details-table thead {
          background-color: #676767;
          height: 30px !important;
        }
        .details-table th {
          height: 30px !important;
          vertical-align: middle !important;
          padding-left: 12px !important;
          padding-right: 12px !important;
          white-space: nowrap;
          border-bottom: 2px solid #676767 !important;
          color: white;
        }  
         