.headers{
    background:#474668;
    color: white;
    font-size: 12px;
    font-weight: 550;
    padding-left: 5px;
    padding-top: 4px;
    }
    .isReadonlyFieldForQuotation
    {
      opacity: 0.8;
    }