<div class="container-fluid">
    <div class="row no-gutters"style="background-color: #18155b;;">
        <div class="col-10 d-flex justify-content-start">
            <h1 class="customeHeading">Stock List</h1>
        </div>
        <div class="col-2 d-flex justify-content-end">
       
            <button mat-icon-button class="close-button" [mat-dialog-close]="true">
                <mat-icon class="close-icon" color="warn">close</mat-icon>
              </button>
        </div>
        </div>
   <div class="action-toolbar">
    <div class="table-filter action-toolbar-right">
        <input type="text" (keyup)="applyFilter(searchField.value)" #searchField placeholder="Table Keyword search">
    </div>
   </div>    
<div class="tabOverFlowY">
    <div class="table-box" style="margin-left: 10px; margin-right: 10px;margin-top: 1px;">        
        <mat-card style="margin-top: 2px;background-color: #fdfdfd;">
            <mat-table [dataSource]="tableData" matTableExporter #exporter="matTableExporter"
            style="background-color: ghostwhite;" matSort id="activeUserDataTable">
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event?masterToggle():null" [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event?selection.toggle(row):null"
                        [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="uc0001">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Item No</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.uc0001}} </mat-cell>
              </ng-container>
         
            <ng-container matColumnDef="ff0001">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Quatetion No </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.ff0001}} </mat-cell>
              </ng-container>
              
            <ng-container matColumnDef="ff0002">
              <mat-header-cell *matHeaderCellDef mat-sort-header>PO No </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.ff0002}}</mat-cell>
            </ng-container>
        
              <ng-container matColumnDef="ff0003">
                <mat-header-cell *matHeaderCellDef mat-sort-header>PO Date </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.ff0003}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="ff0004">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Delivery Date </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.ff0004}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="ff0005">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Product Code </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.ff0005}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="ff0006">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Product Name </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.ff0006}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="ff0007">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Quantity </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.ff0007}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="ff0008">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Pack </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.ff0008}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="ff0009">
                <mat-header-cell *matHeaderCellDef mat-sort-header>HSN Code </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.ff0009}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="ff0010">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Rate </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.ff0010}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="ff0011">
                <mat-header-cell *matHeaderCellDef mat-sort-header>% Discount </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.ff0011}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="ff0012">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Discount Amount </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.ff0012}}</mat-cell>
              </ng-container>
            
            <mat-header-row *matHeaderRowDef="activeLifeCycleisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: activeLifeCycleisplayedColumns;" ></mat-row>
          </mat-table> 
   
          <mat-paginator [pageSizeOptions]="[10, 15, 20,25]"  showFirstLastButtons aria-label="Select page of periodic rows">
          </mat-paginator>

           <button mat-raised-button color="primary"  style="font-size: smaller;background-color: #295ea3;height: 25px; width: fit-content;" (click)="onSelectedRow()" >Submit</button>
        </mat-card>
</div>
    </div>
    </div>
    