
<div class="row no-gutters">
    <div class="col-8 d-flex justify-content-start">
        <h1 class="customeHeading" style="padding-left: 10px;">Stock Ledger </h1>
    </div>
    <div class="col-4 d-flex justify-content-end">
        <button mat-icon-button  (click)="openPDF()">
            <mat-icon class="close-icon" color="primary">download</mat-icon>
          </button>
          <button mat-icon-button [mat-dialog-close]="true"  >
            <mat-icon class="close-icon" color="warn">close</mat-icon>
          </button>
    </div>
    <!-- <div class="col-2 d-flex justify-content-end">
        
    </div> -->

    </div>
<div class="table-box" id="htmlData"style="padding: 25px;background: #edf0f8;" *ngIf="this.data" class="tabOverFlowY">
    <div style="margin-top: 10px;">
 <div class="sup-head1"style="margin-top: 10px;">
  <div class="logo2">
      <span style="    float: left;
      font-size: 18px;
      font-family: auto;">
        <h2 style="    font-weight: 800;
        font-family: none;
        color: #040496;
    ">  Stock Ledger</h2>
       </span>
      <span style="float: right;">
        <img src="../../../assets/logo1.png">
      </span>
      </div>
</div> 
<!-- <div class="headers">Business Unit Information</div> -->
<div>
  <div >
<div  class="headers"
style="padding-left: 5px;padding-right: 5px; margin: 4px;height: 33px;">

    <p style="color: aliceblue;font-size: 12px;margin-top: 2px;">Payment Term</p>

</div>
<mat-spinner *ngIf="isLoading" class="global-loading-spinner" color="primary"
mode="indeterminate"></mat-spinner>
<div class="supplier-content">
    <div class="sup-head">
        <div class="sup-fields">Stock Item No</div>
        <div class="sup-values">{{data.uc0001}}</div>
     </div>
     <div class="sup-head">
        <div class="sup-fields">Product Code</div>
        <div class="sup-values">{{this.data.ff0001}}</div>
     </div>
     <div class="sup-head"style="background-color: #bcceea;">
        <div class="sup-fields">Sale Order No</div>
            <div class="sup-values">{{data.ff0002}}</div>
    </div>
    <div class="sup-head" style="background-color: #bcceea;">
        <div class="sup-fields">Purches Order No</div>
        <div class="sup-values">{{data.ff0003}}</div>
     </div> 
    
     <div class="sup-head">
        <div class="sup-fields">Order Date </div>
        <div class="sup-values">{{data.ff0004}}</div>
    </div>
    <div class="sup-head">
      <div class="sup-fields">Organization Unit Code</div>
      <div class="sup-values">{{data.ff0005}}</div>
    </div>
    
    <div class="sup-head"style="background-color: #bcceea;">
        <div class="sup-fields">Sell Unit Code</div>
            <div class="sup-values">{{data.ff0006}}</div>
    </div>
    <div class="sup-head" style="background-color: #bcceea;">
        <div class="sup-fields">Purches Unit Code</div>
        <div class="sup-values">{{data.ff0007}}</div>
     </div> 
    
     <div class="sup-head">
        <div class="sup-fields">Quantity Recived</div>
        <div class="sup-values">{{data.ff0008}}</div>
    </div>
    <div class="sup-head">
      <div class="sup-fields">Quantity Conjumed</div>
      <div class="sup-values">{{data.ff0009}}</div>
    </div>
    
    <div class="sup-head"style="background-color: #bcceea;">
        <div class="sup-fields">Avialble Quantity</div>
            <div class="sup-values">{{data.ff0010}}</div>
    </div>
    <div class="sup-head" style="background-color: #bcceea;">
        <div class="sup-fields">Lot No/ Batch No</div>
        <div class="sup-values">{{data.ff0011}}</div>
     </div> 
    
     <div class="sup-head">
        <div class="sup-fields">Mfg Date (mm/yy)</div>
        <div class="sup-values">{{data.ff0012}}</div>
    </div>
    <div class="sup-head">
      <div class="sup-fields">Exp Date  (mm/yy)</div>
      <div class="sup-values">{{data.ff0013}}</div>
    </div>
    
    <div class="sup-head"style="background-color: #bcceea;">
        <div class="sup-fields">Stage</div>
            <div class="sup-values">{{data.ff0014}}</div>
    </div>
    <div class="sup-head" style="background-color: #bcceea;">
        <div class="sup-fields">Product No</div>
        <div class="sup-values">{{data.ff0015}}</div>
     </div>
     <div class="sup-head">
        <div class="sup-fields">Status</div>
        <div class="sup-values">{{onChangeStatus(data.status)}}</div>
    </div>
    <div class="sup-head">
      <div class="sup-fields">Version</div>
      <div class="sup-values">{{data.ff0017}}</div>
    </div>
</div>

<div class="supplier-content-comments">
<div class="sup-head-comments" style="background-color: #bcceea">
  <div class="sup-fields-comments" >Comments :-</div>
  <div class="sup-values-comments">{{data.comments}}</div>
</div>
</div>
</div>
</div>


</div>
</div>
<div *ngIf="this.showErrorMsg" class="messages-container">
   <p>No Record Found!</p>  
</div>


 