
<div class="row no-gutters">
    <div class="col-8 d-flex justify-content-start">
        <h1 class="customeHeading" style="padding-left: 10px;">Role</h1>
    </div>
    <div class="col-4 d-flex justify-content-end">
        <button mat-icon-button  (click)="onDownloadPDF()">
            <mat-icon class="close-icon" color="primary">download</mat-icon>
          </button>
          <button mat-icon-button [mat-dialog-close]="true"  >
            <mat-icon class="close-icon" color="warn">close</mat-icon>
          </button>
    </div>
    <!-- <div class="col-2 d-flex justify-content-end">
        
    </div> -->

    </div>
    <mat-spinner *ngIf="isLoading" class="global-loading-spinner" color="primary"
    mode="indeterminate"></mat-spinner>
<div class="table-box" id="htmlData"style="padding: 25px;background: #edf0f8;" *ngIf="this.data" class="tabOverFlowY">
    <div style="margin-top: 10px;">
<div class="sup-head1"style="margin-top: 10px;"id="header">
  <div class="logo2">
      <span style="    float: left;
      font-size: 18px;
      font-family: auto;">
        <h2 style="    font-weight: 800;
        font-family: none;
        color: #040496;
    ">  Role</h2>
       </span>
      <span style="float: right;">
        <img src="../../../assets/logo1.png">
      </span>
      </div>
</div> 
<!-- <div class="headers">Business Unit Information</div> -->
<div *ngFor="let data of this.data" [attr.id]="'Location' + data.version">
  <div >
<div  class="headers"
style="padding-left: 5px;padding-right: 5px; margin: 4px;height: 33px;">

    <p style="color: aliceblue;font-size: 12px;margin-top: 2px;">Role - {{data.version}}</p>

</div>
<div class="supplier-content">
 <div class="sup-head">
   <div class="sup-fields">ID</div>
   <div class="sup-values">{{data.id}}</div>
 </div>
 <div class="sup-head">
   <div class="sup-fields">Status</div>
   <div class="sup-values">{{onChangeStatus(data.status)}}</div>
 </div>
 <div class="sup-head"style="background-color: #bcceea;">
  <div class="sup-fields">Role Code</div>
   <div class="sup-values">{{this.data.uc0001}}</div>
  <!-- <div class="sup-fields">First Name</div>
  <div class="sup-values">{{this.data.firstName}}</div> -->
</div>
<div class="sup-head" style="background-color: #bcceea;">
  <div class="sup-fields">Plant Code</div>
  <div class="sup-values">{{data.ff0001}}</div>
 </div> 

 <div class="sup-head">
  <div class="sup-fields">Role Name</div>
  <div class="sup-values">{{data.ff0002}}</div>
</div>
<div class="sup-head">
  <div class="sup-fields">Version</div>
  <div class="sup-values">{{data.version}}</div>
</div>
<div class="sup-head"style="background-color: #bcceea">
 <div class="sup-fields">Created Date
 </div>
 <div class="sup-values">{{data.createdon}}</div>
</div>
<div class="sup-head" style="background-color: #bcceea">
 <div class="sup-fields">Created By</div>
 <div class="sup-values">{{data.createdby}}</div>
</div> 


</div>

<div class="supplier-content-comments">
<div class="sup-head-comments" style="background-color: #bcceea">
  <div class="sup-fields-comments" >Comments :-</div>
  <div class="sup-values-comments">{{data.comments}}</div>
</div>
</div>
</div>
</div>
<!-- <div class="sup-head">
  <div class="sup-fields">Initiated On</div>
  <div class="sup-values">{{this.data.joinedDate}}</div>
</div> -->
<!-- <div class="sup-head">
  <div class="sup-fields">Comments</div>
  <div class="sup-values">{{this.data.urpcomments}}</div>
</div> -->
<!-- <div class="sup-head"style="background-color: #bcceea"> -->
 <!-- <div class="sup-fields">Category</div>
 <div class="sup-values">434343</div> -->
<!-- </div>
<div class="sup-head" style="background-color: #bcceea"> -->
 <!-- <div class="sup-fields">State code</div>
 <div class="sup-values">45455</div> -->
<!-- </div> -->

</div>
</div>


<!-- <button class="btn btn-success btn-block" (click)="openPDF()">Download Report</button> -->
<!-- <div style="height: 100px;"></div> -->

 