
<div class="container-fluid">
    <div class="row no-gutters"style="background-color: #18155b;">
        <div class="col-10 d-flex justify-content-start">
            <h1 class="customeHeading">{{this.userData.type}} User Profile</h1>
        </div>
        <div class="col-2 d-flex justify-content-end">
            <!-- <button mat-icon-button  (click)="onCreate()">
                <mat-icon class="close-icon" color="primary">save</mat-icon>
              </button> -->
            <button mat-icon-button class="close-button" [mat-dialog-close]="true">
                <mat-icon class="close-icon" color="warn">close</mat-icon>
              </button>
        </div>
        </div>
        <div class="tabOverFlowY">
        <form [formGroup]="BusinessUnit" style="margin-top: 7px;">
            <mat-card style="margin-top: 2px;background-color:#fdfdfd;">
                <div class="btn-group" class="headers"
                    style="padding-left: 5px;padding-right: 5px; margin: 4px;height: 33px;">
                    <div style="float: left;">
                        <p style="color: aliceblue;font-size: 12px;margin-top: 2px;">User Profile Registration</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="p-2">
                            <div class="row no-gutters mt-1 pb-2 ms-1 me-1">
                                <span style="padding-left: 4px;color: mediumblue;font-size: 12px;">Required Fields are denoted by an asterisk(<span
                                        style="color: red">*</span>).</span>
                            </div>
                            <div class="row no-gutters ms-1 me-1 dense-4">
                                 <!-- <div formGroupName="id" class="col-6 px-1"> -->
                                <mat-form-field appearance="outline" class="col-3 px-1">
                                    <mat-label>Employee ID</mat-label>
                                    <input type="text" matInput formControlName="employeeId"[readonly]="isReadOnly"[class.isReadonlyField]="isUpdate"
                                        placeholder="Employee ID" maxlength="6">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="col-3 px-1">
                                    <mat-label>User ID</mat-label>
                                    <input type="text" matInput formControlName="userId"[readonly]="isReadOnly"[class.isReadonlyField]="isUpdate"
                                        placeholder="User ID" maxlength="8">
                                </mat-form-field>
                            <!-- </div> -->
                                <mat-form-field appearance="outline" class="col-3 px-1">
                                    <mat-label>First Name</mat-label>
                                    <input type="text" matInput formControlName="firstName" placeholder="First Name" maxlength="25">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="col-3 px-1">
                                    <mat-label>Last Name</mat-label>
                                    <input type="text" matInput formControlName="lastName" placeholder="Last Name" maxlength="25">
                                </mat-form-field>
                            </div>
    
    
                            <div class="row no-gutters ms-1 me-1 dense-4">
    
                                <mat-form-field appearance="outline" class="col-3 px-1">
                                    <mat-label>Branch Code</mat-label>
                                    <input type="text" matInput formControlName="branchId"
                                    placeholder="Branch Name" (change)="onChangeBranchCode()">
                                    <img  alt="lov img"  src="../../../../../../assets/searchfind.svg"
                                    class="icon-size lovSearchButton" color="primary"(click)="openBranchCodeLOV()">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="col-3 px-1">
                                    <mat-label>Department</mat-label>
                                    <!-- <mat-select formControlName="department">
                                        <mat-option *ngFor="let deptCode of deptCodeList" [value]="deptCode">{{deptCode}}</mat-option>
                                    </mat-select> -->
                                    <input type="text" matInput formControlName="department"
                                    placeholder="Department" (change)="onChangeDepCode()">
                                    <img  alt="lov img"  src="../../../../../../assets/searchfind.svg"
                                    class="icon-size lovSearchButton" color="primary"(click)="openDepCodeLOV()">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="col-3 px-1">
                                    <mat-label>Section</mat-label>
                                    <!-- <mat-select formControlName="branchName">
                                        <mat-option *ngFor="let subdeptCode of subDeptList" [value]="subdeptCode">{{subdeptCode}}</mat-option>
                                    </mat-select> -->
                                    <input type="text" matInput formControlName="branchName"
                                    placeholder="Section" (change)="onChangeSectionCode()">
                                    <img  alt="lov img"  src="../../../../../../assets/searchfind.svg"
                                    class="icon-size lovSearchButton" color="primary"(click)="openSectionCodeLOV()">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="col-3 px-1">
                                    <mat-label>Designation</mat-label>
                                    <!-- <mat-select formControlName="designation">
                                        <mat-option *ngFor="let designation of designationList" [value]="designation">{{designation}}</mat-option>
                                    </mat-select> -->
                                    <input type="text" matInput formControlName="designation"
                                    placeholder="Designation" (change)="onChangeDesignationCode()">
                                    <img  alt="lov img"  src="../../../../../../assets/searchfind.svg"
                                    class="icon-size lovSearchButton" color="primary"(click)="openDesignationCodeLOV()">
                                </mat-form-field>
                            </div>
    
    
    
                            <div class="row no-gutters ms-1 me-1 dense-4">
                                <mat-form-field appearance="outline" class="col-3 px-1">
                                    <mat-label>E-Mail</mat-label>
                                    <input type="text" matInput formControlName="email" placeholder="E-Mail"maxlength="50">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="col-3 px-1">
                                    <mat-label>Alternate E-Mail</mat-label>
                                    <input type="text" matInput formControlName="altEmail" placeholder="Alternate E-Mail" maxlength="50">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="col-3 px-1">
                                    <mat-label>Mobile No</mat-label>
                                    <input type="text" matInput formControlName="mobile" placeholder="Mobile No" maxlength="10">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="col-3 px-1">
                                    <mat-label>Alternate Mobile No</mat-label>
                                    <input type="text" matInput formControlName="altMobile" placeholder="Alternate Mobile No" maxlength="10">
                                </mat-form-field>
                            </div>
                            <div class="row no-gutters ms-1 me-1 dense-4">
                                <mat-form-field appearance="outline" class="col-3 px-1">
                                    <mat-label>Level-1 Manager</mat-label>
                                    <input type="text" matInput formControlName="levelOneManager" placeholder="Level-1 Manager"maxlength="6">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="col-3 px-1">
                                    <mat-label>Level-2 Manager</mat-label>
                                    <input type="text" matInput formControlName="levelTwoManager" placeholder="Level-2 Manager" maxlength="6">
                                </mat-form-field>
                              
                                <mat-form-field appearance="outline" class="col-3 px-1">
                                    <mat-label>Gender</mat-label>
                                    <mat-select formControlName="gender">
                                        <mat-option>Select</mat-option>
                                        <mat-option value="Male">Male</mat-option>
                                        <mat-option value="Female">Female</mat-option>
                                        <mat-option value="Other">Other</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="col-3 px-1" *ngIf="isUpdate">
                                    <mat-label>Status</mat-label>
                                    <!-- <mat-select formControlName="status">
                                        <mat-option>Select</mat-option>
                                        <mat-option value="1004">Locked</mat-option>
                                        <mat-option value="1001">Active</mat-option>
                                        <mat-option value="1003">Disabled</mat-option>
                                        <mat-option value="1002">Superseeded</mat-option>
                                        <mat-option value="1005">Unlocked</mat-option>
                                    </mat-select> -->
                                    <input type="text" matInput formControlName="status" 
                                    placeholder="Status" (change)="onChangeStatus()" >
                                    <img alt="lov img"  src="../../../../../../assets/searchfind.svg"
                                    class="icon-size lovSearchButton" color="primary"(click)="openStatusLOV()">
                                </mat-form-field>
                            </div>
    
                            <div class="row no-gutters ms-1 me-1 dense-4">
                                <mat-form-field appearance="outline" class="col-4 px-1">
                                    <mat-label>Date of Birth</mat-label>
                                    <input type="text" matInput formControlName="dob"[matDatepicker]="picker">
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="col-4 px-1">
                                    <mat-label>Date of joined</mat-label>
                                    <input type="text" matInput formControlName="joinedDate" placeholder="Date of joined"[matDatepicker]="picker1">
                                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="col-4 px-1">
                                    <mat-label>Effective Date</mat-label>
                                    <input type="text" matInput formControlName="effectiveDate"
                                        placeholder="Effective Date" [matDatepicker]="picker2">
                                        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                              
                            </div>
    
                        </div>
                    </div>
    
                </div>
    
            </mat-card>
            <mat-card style="margin-top: 2px;background-color: #fdfdfd;">
                <div class="btn-group" class="headers"
                    style="padding-left: 5px;padding-right: 5px; margin: 4px;height: 33px;">
                    <div style="float: left;">
                        <p style="color: aliceblue;font-size: 12px;margin-top: 2px;">Comments</p>
                    </div>
                </div>
    
    
                <div>
                    <div class="col-12">
                        <div class="p-2">
                            <div class="row no-gutters ms-1 me-1">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Comments</mat-label>
                                    <textarea type="text" matInput formControlName="urpcomments"
                                        placeholder="Comments">
                                    </textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </form>
        </div>
        <div class="containerBTN" style="margin-top: 26px; margin-bottom: 20px;">
            <div  class="d-flex justify-content-center">
            <button mat-raised-button color="primary" style="font-size: smaller;background-color: #295ea3;height: 25px;"
              (click)="isUpdate ? onUpdate() : onCreate()" [class.isDisabledBtn]="BusinessUnit.invalid">{{isUpdate ? "Update" : "Create"}}</button>
             <button mat-raised-button color="primary"
              style="font-size: smaller;background-color: #295ea3;height: 25px; margin-left: 5px;"(click)="onClear()">Clear</button>
          </div>
</div>
            </div>
            <!-- <div style="min-height: 20px;"></div> -->
            
