
<div class="adjust" style="margin-top: 5px;margin-left: 5px;">
<mat-grid-list cols="4" rowHeight="3:1">
    <mat-grid-tile >
        <button mat-raised-button color="primary" style="height: 100%;width: 100%;"(click)="onUserProfileRegistration()">User Profile Registration</button>
        <!-- <a (click)="onUserProfileRegistration()" style="cursor: pointer;
        font-weight: 700;
        color: floralwhite;">
       <span> User Profile Registration</span>
    </a> -->
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button color="primary" style="height: 100%;width: 100%;">Life Cycle Registration</button>
        
    </mat-grid-tile>
  </mat-grid-list>
</div>